/**
 * @file
 * Call to Action block styles.
 */

/* Back to Grantee Search block. */
.block--type-call-to-action {
  .container > .inner-wrapper {
    padding: rem(34) rem(36) rem(44);
    background-color: $ice-blue;
    
    @media (min-width: $tablet) {
      display: flex;
    }
  }
  
  .field--name-field-image-media {
    margin-right: rem(30);
    min-width: rem(60);
    
    img {
      max-width: rem(60);
      
      @media (min-width: $tablet) {
        max-width: 100%;
      }
    }
  }
  
  .field--name-field-text {
    * {
      font-size: rem(18);
      color: $teal;
      
      @media (min-width: $tablet) {
        font-size: rem(22);
      }
    }
  }
  
  .field--name-field-link {
    /* See: /sass/styles/components/_button.scss */
    @extend .button-wrapper;
  }
}
