/**
 * @file
 * Button styles.
 */

/* Default button style. */
.button {
  display: inline-block;
  margin-right: 1rem;
  margin-left: 0;
  padding: 0.3em 1.4em;
  font-size: rem(16);
  color: $white;
  font-family: $font-header;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: rem(0.5);
  border: 2px solid $berry;
  border-radius: 4px;
  background-color: $berry;
  
  @media (min-width: $desktop) {
    font-size: rem(18);
  }
  
  &:hover,
  &:focus,
  &:active {
    color: $berry;
    background-color: $white;
  }
  
  &:focus {
    border-style: dashed;
    outline: none;
  }
}

.button.reverse {
  border-color: $white;
  background-color: transparent;
  
  &:hover,
  &:focus,
  &:active {
    color: $berry;
    background-color: $white;
  }
  
  &:focus {
    border-style: dashed;
    outline: none;
  }
}

.button.reverse.teal {
  border-color: $white;
  background-color: transparent;
  
  &:hover,
  &:focus,
  &:active {
    color: $teal;
    background-color: $white;
  }
  
  &:focus {
    border-style: dashed;
    outline: none;
  }
}

.button.reverse.sage {
  &:hover,
  &:focus,
  &:active {
    color: $sage;
  }
}

.button-wrapper > a {
  @extend .button;
}

.button-wrapper.reverse > a {
  @extend .button.reverse;
}

.button-wrapper.reverse.teal > a {
  @extend .button.reverse.teal;
}

.button-wrapper.reverse.sage > a {
  @extend .button.reverse.sage;
}

.button:first-child,
.image-button:first-child {
  margin-right: 1rem;
  margin-left: 0;
}

.button:last-child,
.image-button:last-child {
  margin-right: 0;
}


/* Quick Tags. */
a.tag {
  display: inline-block;
  padding: rem(5) rem(15);
  font-size: rem(16);
  font-family: $font-header;
  color: $text-color;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: rem(16);
  background-color: $gray-bg;
  
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: $teal-light;
  }
  
  &:focus {
    border: 1px dashed $teal;
    outline: none;
  }
}
