/**
 * @file
 * CKEditor accordion styles.
 */

.ckeditor-accordion-container {
  > dl {
    margin-top: 0;
    border: 0;
  }
  
  > dl dd {
    padding: 0.5rem 1rem 0;
  
    @media (min-width: $desktop) {
      padding: 1rem 2rem 0;
    }
  }
  
  > dl dt > a {
    border-bottom: 0;
  }
  
  .ckeditor-accordion-toggler {
    padding: 0.75em 0;
    color: $teal;
    background-color: transparent;
    
    &:hover {
      background-color: transparent;
    }
    
    &::after {
      content: '';
      display: inline-block;
      position: relative;
      width: rem(13);
      height: rem(13);
      padding-right: 0.5rem;
      background: url('../img/plus.svg') no-repeat center right;
    }
    
    .ckeditor-accordion-toggle {
      display: none;
    }
  }
  
  > dl dt.active .ckeditor-accordion-toggler {
    background-color: transparent;
  
    &::after {
      background-image: url('../img/minus.svg');
    }
  }
}
