/**
 * @file
 * Form styles.
 */

input[type="text"] {
  padding: 0.25em 0.5em;
  font-size: rem(18);
  line-height: 1.5;
  border: 2px solid $teal;
  
  &:focus {
    border-style: dashed;
    outline: none;
  }
}

select {
  width: 100%;
  padding: 0.25em 0.5em;
  font-size: rem(18);
  line-height: 1.5;
  border: 2px solid $teal;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $white;
  background-image: url('../img/dropdown_arrow.svg'),
  linear-gradient(to bottom, $white 0%,$white 100%);
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: rem(22) rem(14);
}

select::-ms-expand {
  display: none;
}

select:hover {
  border-color: $teal;
}

select:focus {
  border-style: dashed;
  outline: none;
}

select option {
  font-weight: normal;
}
