/**
 * @file
 * Paragraph styles.
 */

.field--name-field-paragraph-components {
  padding-top: rem(1);
}

/* Large Image. */
.paragraph--type--large-image {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;

  figure {
    margin-bottom: 0;
  }

  .field--name-field-large-image {
    img {
      display: block;
    }
  }

  .field--name-field-caption {
  }

  &.full-width {
    display: block;
    width: 100%;

    .field--name-field-large-image {
      img {
        width: 100%;
      }
    }
  }

  &.left {
    @media (min-width: $tablet-plus) {
      display: block;
      float: left;
      max-width: 50%;
      margin-top: rem(4);
      margin-right: rem(36);
      margin-bottom: 1rem;
    }
  }

  &.right {
    @media (min-width: $tablet-plus) {
      display: block;
      float: right;
      max-width: 50%;
      margin-top: rem(4);
      margin-left: rem(36);
      margin-bottom: 1rem;
    }
  }
}


/* Quote. */
.paragraph--type--quote {
  position: relative;
  margin: rem(42) 0 rem(60);
  padding: 0 0 0 rem(28);
  color: $cobalt;
  font-style: normal;
  border-left: .5rem solid $sage;

  .field--name-field-quote {
    position: relative;
    top: -0.5rem;

    * {
      margin-bottom: 0.3em;
      font-size: rem(22);
      font-weight: 900;
      line-height: 1.25;

      @media (min-width: $desktop) {
        font-size: rem(30);
      }
    }
  }

  .attribution {
    position: relative;
    bottom: -0.5rem;
  }

  .field--name-field-attribution-1,
  .field--name-field-attribution-2 {
    display: inline-block;
    font-family: $font-header;
    letter-spacing: rem(0.4);
    text-transform: uppercase;

    p {
      margin-bottom: 0;
    }
  }
}

// only add comma if there's a title field
blockquote.has-title-field{
  .field--name-field-attribution-1 {
    p::after {
      content: ',';
    }
  }
}

/* Button Link. */
.field--name-field-button-link {
  margin-top: 1rem;
  margin-bottom: 2rem;

  a {
    /* See: /sass/styles/components/_button.scss */
    @extend .button;
  }
}


/* File. */
.paragraph--type--file {
  margin-bottom: 2rem;

  .file-download {
    display: inline-block;
    min-height: rem(25);
    padding-left: rem(30);
    background-image: url('../img/document_icon.svg');
    background-repeat: no-repeat;
  }
}


/* Image Gallery. */
.paragraph--type--image-gallery {
  margin-bottom: 2rem;

  .slick-slide {
    opacity: 0.3;
    transition: opacity 0.3s;
  }

  .slick-current {
    opacity: 1;
  }

  .paragraph--type--image {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: rem(250);
    margin: 0 1rem;

    @media (min-width: $tablet) {
      width: rem(480);
    }

    @media (min-width: $tablet-plus) {
      width: rem(680);
    }

    .field--name-field-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: rem(188);

      @media (min-width: $tablet) {
        height: rem(360);
      }

      @media (min-width: $tablet-plus) {
        height: rem(510);
      }
    }

    .text-wrapper {
      margin-top: 1.5rem;
      padding-top: 1rem;
      border-top: 1px solid $gray-border;
    }

    .field--name-field-header {
      * {
        font-size: rem(18);
        color: $text-color;
      }
    }
  }

  .field--name-field-image-credit {
    //
  }

  .slick--field {
    position: relative;
  }

  .slick__arrow {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;

    @media (min-width: $tablet) {
      top: 29%;
    }

    @media (min-width: $tablet-plus) {
      top: 37%;
    }

    .slick-arrow {
      @include hidetext();
      position: absolute;
      width: rem(48);
      height: rem(48);
      border: 1px solid $gray-border;
      border-radius: 50%;
    }

    .slick-prev {
      left: 0;
      background: $white url('../img/pager_arrow_left.svg') no-repeat 45% center;
      background-size: rem(15) rem(25);

      @media (min-width: $tablet) {
        left: 0.5rem;
      }

      @media (min-width: $tablet-plus) {
        left: 1rem;
      }
    }

    .slick-next {
      right: 0;
      width: rem(48);
      height: rem(48);
      background: $white url('../img/pager_arrow_right.svg') no-repeat 55% center;
      background-size: rem(15) rem(25);

      @media (min-width: $tablet) {
        right: 0.5rem;
      }

      @media (min-width: $tablet-plus) {
        right: 1rem;
      }
    }
  }
}


/* Profile Image. */
.paragraph--type--profile-image {
  margin-top: 1rem;
  padding-top: rem(50);
  border-top: 1px solid $gray-border;

  .field--name-field-left-aligned-image {
    @media (min-width: $tablet) {
      float: left;
      margin-right: 2rem;
    }
  }

  .field--name-field-header {
    h2 {
      margin-bottom: 0;
    }
  }

  .field--name-field-title {
    font-family: $font-header;
    font-size: rem(15);
    font-weight: 500;
    color: $gray-med;
    text-transform: uppercase;
  }

  .field--name-field-text {
    margin-top: 1.5rem;
  }
}


/* Video. */
.paragraph--type--video {
  margin-top: 1rem;
  margin-bottom: 2rem;

  figure {
    width: 100%;
  }

  /* Responsive video embed -- padding-top = 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  .field--name-field-media-oembed-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }

  /* Style the iframe to fit in the container div with full height and width. */
  .media-oembed-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  figcaption {
    margin-top: 0.25rem;
  }
}
