/**
 * @file
 * 404 and 403 error styles.
 */

.path-error-404,
.path-error-403 {
  .block-system-main-block {
    .outer-wrapper {
      /* See: /sass/styles/_layout.scss */
      @extend .content__contained--small-inset;
      margin-top: 2rem;
      background-color: $white;
      
      .inner-wrapper {
        font-size: rem(20);
      }
    }
  }
}
