/**
 * Override default Tablesaw styles for RBF theme.
 */


/*! Tablesaw - v3.1.2 - 2019-03-19
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2019 Filament Group; Licensed MIT */

/* Mobile first styles: Begin with the stacked presentation at narrow widths */

/* Support note IE9+: @media only all */

.block-system-main-block {
  
  @media only all {
    /* Show the table cells as a block level element */
    
    .tablesaw-stack {
      clear: both;
    }
    
    .tablesaw-stack td,
    .tablesaw-stack th {
      text-align: left;
      display: block;
    }
    
    .tablesaw-stack tr {
      clear: both;
      display: table-row;
    }
    
    /* Make the label elements a percentage width */
    .tablesaw-stack td .tablesaw-cell-label,
    .tablesaw-stack th .tablesaw-cell-label {
      display: inline-block !important;
      width: 30%;
      padding: rem(10) rem(9);
      font-family: $font-header;
      font-size: rem(16);
      font-weight: 500;
      color: $teal;
      line-height: 1.3;
      background-color: $ice-blue;
    }
  
    .tablesaw-stack tr:nth-child(even) {
      .tablesaw-cell-label {
        background-color: $gray-bg;
      }
    }
  
    
    /* For grouped headers, have a different style to visually separate the
     * levels by classing the first label in each col group
     */
    .tablesaw-stack th .tablesaw-cell-label-top,
    .tablesaw-stack td .tablesaw-cell-label-top {
      display: block;
      padding: .4em 0;
      margin: .4em 0;
    }
    
    .tablesaw-cell-label {
      display: block;
    }
    
    
    /* Avoid double strokes when stacked */
    .tablesaw-stack tbody th.group {
      margin-top: -1px;
    }
    
    /* Avoid double strokes when stacked */
    .tablesaw-stack th.group b.tablesaw-cell-label {
      display: none !important;
    }
  }
  
  
  /* Media query to show as a mobile table below 960px. */
  @media (max-width: $tablet-plus-max) {
    .tablesaw-stack {
      border: none;
    }
    
    .tablesaw-stack tbody tr {
      display: block;
      width: 100%;
      border-bottom: none;
    }
  
    .tablesaw-stack thead td,
    .tablesaw-stack thead th {
      display: none;
    }
    
    .tablesaw-stack tbody td,
    .tablesaw-stack tbody th {
      display: flex;
      float: left;
      clear: left;
      width: 100%;
      padding: 0 !important;
      text-align: left !important;
      border: 1px solid $gray-border;
      border-top: 0;
    }
  
    .tablesaw-stack tr {
      td:first-child {
        border-top: 2px solid $gray-border;
      }
    }
  
    .tablesaw-stack tbody tr:first-child td:first-child {
      border-top-width: 1px;
    }
    
    .tablesaw-cell-label {
      vertical-align: top;
    }
  
    .tablesaw-cell-content {
      display: inline-block;
      padding: rem(10) rem(9);
      max-width: 67%;
    }
    
    .tablesaw-stack .tablesaw-stack-block .tablesaw-cell-label,
    .tablesaw-stack .tablesaw-stack-block .tablesaw-cell-content {
      display: block;
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
    
    .tablesaw-stack td:empty,
    .tablesaw-stack th:empty {
      display: none;
    }
  }
  
  
  /* Media query to show as a mobile table below 679px. */
  @media (max-width: $mobile) {
    .tablesaw-stack td .tablesaw-cell-label,
    .tablesaw-stack th .tablesaw-cell-label {
      width: 40%;
    }
    
    .tablesaw-cell-content {
      max-width: 60%;
    }
  }

  
  /* Media query to show as a standard table at 960px or wider */
  @media (min-width: $tablet-plus) {
    .tablesaw-stack tr {
      display: table-row;
    }
    
    /* Show the table header rows */
    
    .tablesaw-stack td,
    .tablesaw-stack th,
    .tablesaw-stack thead td,
    .tablesaw-stack thead th {
      display: table-cell;
      margin: 0;
    }
    
    /* Hide the labels in each cell */
    
    .tablesaw-stack td .tablesaw-cell-label,
    .tablesaw-stack th .tablesaw-cell-label {
      display: none !important;
    }
  }
  
  .tablesaw-fix-persist {
    table-layout: fixed;
  }
  
  /* Hide all prioritized columns by default */
  
  @media only all {
    .tablesaw-columntoggle th.tablesaw-priority-6,
    .tablesaw-columntoggle td.tablesaw-priority-6,
    .tablesaw-columntoggle th.tablesaw-priority-5,
    .tablesaw-columntoggle td.tablesaw-priority-5,
    .tablesaw-columntoggle th.tablesaw-priority-4,
    .tablesaw-columntoggle td.tablesaw-priority-4,
    .tablesaw-columntoggle th.tablesaw-priority-3,
    .tablesaw-columntoggle td.tablesaw-priority-3,
    .tablesaw-columntoggle th.tablesaw-priority-2,
    .tablesaw-columntoggle td.tablesaw-priority-2,
    .tablesaw-columntoggle th.tablesaw-priority-1,
    .tablesaw-columntoggle td.tablesaw-priority-1,
    .tablesaw-columntoggle th.tablesaw-priority-0,
    .tablesaw-columntoggle td.tablesaw-priority-0 {
      display: none;
    }
  }
  
  /* Preset breakpoints if "" class added to table */
  
  /* Show priority 1 at 320px (20em x 16px) */
  
  @media (min-width: 20em) {
    .tablesaw-columntoggle th.tablesaw-priority-1,
    .tablesaw-columntoggle td.tablesaw-priority-1 {
      display: table-cell;
    }
  }
  
  /* Show priority 2 at 480px (30em x 16px) */
  
  @media (min-width: 30em) {
    .tablesaw-columntoggle th.tablesaw-priority-2,
    .tablesaw-columntoggle td.tablesaw-priority-2 {
      display: table-cell;
    }
  }
  
  /* Show priority 3 at 960px */
  
  @media (min-width: $tablet-plus) {
    .tablesaw-columntoggle th.tablesaw-priority-3,
    .tablesaw-columntoggle td.tablesaw-priority-3 {
      display: table-cell;
    }
    
    .tablesaw-columntoggle tbody td {
      line-height: 2;
    }
  }
  
}
