{% extends "paragraph.html.twig" %}

{# Wrap content in blockquote element. #}
{% block paragraph %}
  {# add class if title exists so comma can be added in CSS #}
  {% if content.group_attribution.field_attribution_2.0 %}
    {% set classes = classes|merge(['has-title-field']) %}
  {% endif %}
  <blockquote{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </blockquote>
{% endblock paragraph %}
