{#
/**
 * @file
 * Theme implementation to display a Large Image paragraph.
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    paragraph.field_image_alignment.value
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <figure>
    {% block content %}
      {{ content.field_large_image }}
      {% if content.field_caption %}
        <figcaption>{{ content.field_caption }}</figcaption>
      {% endif %}
    {% endblock %}
    </figure>
  </div>
{% endblock paragraph %}
