/**
 * @file
 * Base node styles.
 */

.block-page-title-block {
  background-color: $teal;
  
  .inner-wrapper {
    /* See: /sass/styles/_layout.scss */
    @extend .content__contained--no-inset;
  }
  
  .page-title {
    color: $white;
  }
}

.header-banner {
  position: relative;
  background-color: $teal;
  
  > * {
    /* See: /sass/styles/_layout.scss */
    @extend .contained;
    padding: rem(32) 0 rem(48);
  
    @media (min-width: $desktop) {
      padding: rem(54) 0 rem(96);
    }
    
    .pseudo-header {
      /* See: /sass/base/_typography.scss */
      @extend .heading1;
      color: $white;
    }
  }
}


/* Feature section. */
body:not(.page-node-type-event) .feature {
  position: relative;
  
  img {
    display: block;
    width: 100%;
  }
  
  .field--name-field-featured-image {
    position: relative;
  }
  
  .field--name-field-image-credit,
  .field--name-field-featured-image-caption {
    /* See: /sass/styles/_layout.scss */
    @extend .contained;
    margin: -1rem rem(10) 0;
    position: relative;
    background-color: $white;
    
    @media (min-width: $desktop) {
      position: absolute;
      bottom: rem(82);
      right: 5%;
      margin: 0;
      text-align: right;
      background-color: transparent;
    }
    
    @media (min-width: $desktop-plus) {
      position: absolute;
      bottom: rem(82);
      right: calc((100% - #{$max-page-width}) / 2);
      margin: 0;
      text-align: right;
      background-color: transparent;
    }
  
    > * {
      display: inline-block;
      margin: 0;
      padding: .5rem 1rem;
      font-family: $font-header;
      font-weight: 300;
      font-size: rem(15);
    
      a {
        font-size: rem(15);
      }
    
      @media (min-width: $desktop) {
        padding: .2rem .5rem;
        color: $white;
        font-size: rem(16);
        background-color: $black-50pct;
      
        a {
          font-size: rem(16);
          color: $white;
        }
      }
    }
  }
  
  > .inner-wrapper {
    /* .contained - See: /sass/styles/_layout.scss */
    @extend .contained;
    margin: 0 rem(10);
    padding: rem(16) 0 rem(56);
    color: $white;
    text-align: center;
    
    @media (min-width:$tablet) {
      margin: 0 $page-margin*2;
    }
    
    @media (min-width: $desktop) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: rem(-30);
      right: 5%;
      max-width: rem(442);
      margin: 0;
      padding: rem(46) rem(40);
    }
    
    @media (min-width: $desktop-plus) {
      right: calc((100% - #{$max-page-width}) / 2);
    }
  
    .field--name-field-hero-text {
      > * {
        font-size: rem(23);
        line-height: 1.3;
        letter-spacing: rem(0.67);
      
        @media (min-width: $desktop) {
          font-size: rem(30);
          letter-spacing: rem(0.88);
        }
      }
    }
  }
}

.feature_plus_section-1,
.feature + .section-1 {
  margin-top: 0;
  
  @media (min-width: $desktop) {
    margin-top: rem(-68);
  }
}

