/**
 * @file
 * Program node styles.
 */

.page-node-type-program {
  .layout__region--content {
    position: relative;
  }
  
  .h2-program {
    @extend h2;
    text-transform: uppercase;
  }
  
  .field--label-inline {
    display: flex;
  }
  
  .field__label,
  .field--name-field-program-goal .field__item p {
    @extend h2;
    margin-top: .83em;
    margin-bottom: .83em;
    font-weight: 500;
    
    > * {
      margin-bottom: 0;
    }
  }
  
  
  /* Feature section. */
  /* See: /sass/styles/components/_node__base.scss */
  
  
  /* Section 1. */
  .section-1 {
    /* See: /sass/styles/_layout.scss */
    //@extend .content__contained--inset;
    margin-bottom: -2.5rem;
  }
  
  .field--name-field-program-summary,
  .field--name-field-program-strategies {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid $gray-border;
  }

  .field--name-field-program-evolution {
    line-height: 1.3;
    
    .field__item {
      margin-bottom: 0.75rem;
    }
  }
  
  
  /* Section 2 - Featured Grantees. */
  .section-2 {
    position: relative;
    
    .inner-wrapper {
      /* See: /sass/styles/_layout.scss */
      @extend .contained;
      position: relative;
      padding: 5rem 0 2rem;
  
      @media (min-width: $desktop) {
        padding: 6.5rem 5rem 4rem;
      }
      
      .field__label {
        font-size: rem(23);
        line-height: 1;
        letter-spacing: rem(.75);
        color: $white;
        font-weight: 400;
      }
    }
  }
  
  .field--name-field-featured-grantees {
    .field__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 -1rem;
      
      > .field__item {
        display: flex;
        flex-wrap: wrap;
        align-self: stretch;
        max-width: rem(350);
        margin: 0 1rem 2rem;
        background-color: $white;
  
        @media (min-width: $tablet-plus) {
          width: calc(33% - 2rem);
        }
      }
      
      .field--name-field-featured-image {
        img {
          display: block;
        }
      }
      
      .field--name-node-title {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: rem(100);
        width: 100%;
        padding: 1.5rem 2rem;
        
        h3 {
          margin: 0;
          font-size: rem(20);
          font-family: $merriweather;
          font-weight: 700;
          text-align: center;
          
           a {
             color: $teal;
           }
        }
      }
    }
  }
  
  .field--name-field-recent-grants-link,
  .field--name-dynamic-twig-fieldnode-recent-peacebuilding-grants {
    text-align: center;
  
    @media (min-width: $desktop) {
      position: absolute;
      top: 7.5rem;
      right: 5rem;
      z-index: 10;
      text-align: right;
    }
    
    a {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: $white;
      font-size: rem(17);
      font-family: $font-header;
      text-transform: uppercase;
  
      @media (min-width: $tablet) {
        justify-content: left;
      }
  
      @media (min-width: $desktop) {
        font-size: rem(18);
      }
      
      &::after {
        content: url("../img/arrow.svg");
        padding-left: 0.5em;
      }
    }
  }
  
  
  /* Section 3 - Special Initiatives. */
  .section-3 {
    /* See: /sass/styles/_layout.scss */
    @extend .contained;
    padding: rem(46) 0 rem(36);
  
    @media (min-width: $desktop) {
      padding: rem(96) rem(180);
    }
    
    .field--name-field-special-initiatives {
      label {
        @extend h2;
        margin-top: 0;
        margin-bottom: .25em;
        font-size: rem(22);
        color: $gray-med;
        font-weight: 400;
        letter-spacing: rem(.75);
  
        @media (min-width: $desktop) {
          font-size: rem(23);
        }
      }
      
      h3 {
        margin-top: 0;
        margin-bottom: .5em;
        font-size:rem(29);
        font-weight: 500;
        text-transform: uppercase;
  
        @media (min-width: $desktop) {
          font-size: rem(37);
          margin-bottom: 1em;
        }
      }
      
      > .field__item {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $gray-border;
  
        @media (min-width: $desktop) {
          display: flex;
          margin-bottom: 3rem;
          padding-bottom: 3rem;
        }
  
        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none;
        }
      }
      
      .text-wrapper {
        @media (min-width: $desktop) {
          margin-right: 2.5rem;
        }
        
        p:last-child {
          margin-bottom: 0;
        }
      }
      
      .field--name-field-featured-image {
        @media (min-width: $desktop) {
          flex: 1 0 auto;
          width: rem(480);
        }
      }
    }
  }
  
  
  /* Section 4. */
  .section-4 {
    /* See: /sass/styles/_layout.scss */
    @extend .content__contained--inset;
  }
  
  .field--name-field-team,
  .field--name-field-what-we-fund {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid $gray-border;
  }
  
  .field--name-field-team {
    .field__label {
      margin-top: 0.5rem;
      margin-bottom: 3rem;
    }
    
    > .field__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
      @media (min-width: $tablet) {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -1rem;
      }
  
      @media (min-width: $desktop) {
        justify-content: space-between;
      }
      
      > .field__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: rem(250);
        margin-bottom: 1rem;
        
        @media (min-width: $tablet) {
          flex: 0 0 auto;
          flex-direction: row;
          align-items: flex-start;
          width: calc(50% - 2rem);
          max-width: rem(500);
          margin: 0 1rem rem(50);
        }
      }
    }
    
    .text-wrapper {
      margin-top: 1rem;
      text-align: center;
      
      @media (min-width: $tablet) {
        margin-left: rem(24);
        text-align: left;
      }
      
      .field--name-node-title {
        h3 {
          margin-bottom: 0.25em;
          font-weight: 400;
        }
        
        a {
          color: $text-color;
          font-size: rem(23);
        }
      }
      
      .field--name-field-job-title p {
        font-size: rem(14);
      }
    }
  
    .field--name-field-profile-image {
      order: -1;
      flex: 0 0 auto;
      
      img {
        display: block;
        border-radius: 50%;
      }
    }
  }
  
  &.democratic-practice {
    .section-1 {
      @extend .content__contained--small-inset;
      padding-bottom: 1rem;
    }
  
    .feature + .section-1 {
      margin-top: 0;
  
      @media (min-width: $desktop) {
        margin-top: rem(-68);
      }
    }
    
    .section-2 {
      display: none;
    }
  }
}


/* Democratic Practice Interstitial block. */
.block-fixed-block-contentdemocratic-practice-interstitial {
  /* See: /sass/styles/_layout.scss */
  @extend .content__contained--inset;
  padding-top: 0;
  background-color: $white;
  
  .field--name-field-programs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
  
    @media (min-width: $tablet) {
      margin-right: rem(-28);
      margin-left: rem(-28);
    }
  
    &:last-child {
      margin-bottom: 0;
    }
  
    > .field__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 1.5rem;
    
      @media (min-width: $tablet) {
        width: 40%;
        padding: 0 rem(28);
      }
    
      @media (min-width: $desktop) {
        width: 40%;
        padding: 0 rem(16);
      }
    
      .field--name-node-title {
        order: 2;
        h4 {
          margin: 0;
          font-family: $font-main;
          text-transform: none;
          font-weight: 700;
          text-align: center;
          line-height: 1.3;
        
          a {
            font-size: rem(18);
          
            @media (min-width: $desktop) {
              font-size: rem(20);
            }
          }
        }
      }
    
      .field--name-field-featured-image {
        margin-bottom: 1rem;
      
        img {
          width: rem(172);
          height: auto;
          border-radius: 50%;
        
          @media (min-width: $desktop) {
            width: rem(232);
          }
        }
      }
    
    }
  }
}
