/**
 * @file
 * Basic and Landing Page node styles.
 */

.page-node-type-page,
.page-node-type-landing-page {
  .layout__region--content {
    position: relative;
  }
  
  
  /* Feature section. */
  /* See: /sass/styles/components/_node__base.scss */
  
  
  /* Section 1. */
  .section-1 {
    margin-top: 1rem;
  
    @media (min-width: $desktop) {
      margin-top: 2rem;
    }
  }
  
  .feature + .section-1 {
    /* See: /sass/styles/components/_node__base.scss */
    @extend .feature_plus_section-1;
  }
  
  /* People/Team section. */
  .field--name-field-people-section-heading {
    margin-top: 2rem;
  }
  
  .field--name-field-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
  
    @media (min-width: $desktop) {
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0 -1rem;
    }
  
    > .field__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: rem(300);
      margin: 0;
      margin-bottom: 1rem;
    
      @media (min-width: $desktop) {
        flex: 0 0 auto;
        flex-direction: row;
        align-items: flex-start;
        width: calc(33% - 2rem);
        max-width: rem(350);
        margin: 0 1rem rem(50);
      }
    }
  
    .text-wrapper {
      text-align: center;
    
      @media (min-width: $desktop) {
        margin-left: rem(24);
        text-align: left;
      }
    
      .field--name-node-title {
        h3 {
          margin-bottom: 0;
          font-weight: 400;
        }
      
        a {
          color: $text-color;
          font-size: rem(23);
        }
      }
    
      .field--name-field-job-title p {
        font-size: rem(15);
      }
    }
  
    .field--name-field-profile-image {
      order: -1;
      flex: 0 0 auto;
      width: rem(122);
    
      img {
        display: block;
        border-radius: 50%;
      }
    }
  }
  
  
  /* Listing Page intro styles. */
  &.listing-page {
    .field--name-field-text {
      margin-bottom: 1.5rem;
  
      @media (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
      }
  
      .intro-text {
        @media (min-width: $desktop) {
          width: 100%;
          margin-right: 4rem;
        }
      }
  
      .button-wrapper {
        @media (min-width: $desktop) {
          flex-shrink: 0;
        }
      }
    }
  }
}
