/**
 * @file
 * Homepage styles.
 */

.page-node-type-homepage {
  .block-page-title-block {
    @include visually-hidden;
  }
}

.node--type-homepage {
  display: flex;
  flex-direction: column;
  
  .section-0 {
    order: 2;
    margin-top: rem(-24);
    
    @media (min-width: $desktop) {
      margin-top: rem(-68);
    }
  }
  
  .section-feature {
    order: 1;
    position: relative;
  }
  
  .section-1 {
    order: 3;
  }
  
  .section-2 {
    order: 4;
    position: relative;
  }
  
  .section-3 {
    order: 5;
    position: relative;
  }
  
  
  /**
   * Hero/Feature section.
   */
  .section-0 {
    padding-bottom: 1rem;
    
    .field--name-field-hero-title {
      text-align: center;
    
      h2 {
        margin-bottom: 0;
        font-size: rem(32);
        color: $teal;
        line-height: 1.2;
  
        @media (min-width: $tablet) {
          font-size: rem(40);
        }
      
        @media (min-width: $desktop) {
          /* Change left/right padding to adjust text wrapping. */
          padding: 0 5.8rem;
          font-size: rem(73);
          line-height: 1.1;
        }
      }
    }
  }
  
  
  /* Feature section. */
  /* See: /sass/styles/components/_node__base.scss */
  
  
  /**
   * Section 1 - Programs.
   */
  .section-1 {
    margin-top: 0;
  }
  
  .field--name-field-core-themes {
    margin-bottom: 2rem;
    
    @media (min-width: $tablet) {
      margin-bottom: 5rem;
    }
  }
  
  .field--name-field-core-themes,
  .field--name-field-pivotal-places {
    .field__label {
      position: relative;
      padding-bottom: rem(20);
      font-size: rem(22);
      color: $sage-dark;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      
      &:after {
        position: absolute;
        bottom: 0;
        left: calc(50% - #{rem(40)});
        content: '';
        width: rem(80);
        height: rem(6);
        margin: auto;
        background-color: $sage-dark;
      }
  
      @media (min-width: $tablet) {
        font-size: rem(29);
      }
    }
    
    > .field__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 1rem;
  
      @media (min-width: $tablet) {
        margin-right: rem(-28);
        margin-left: rem(-28);
      }
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    > .field__items > .field__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 1.5rem;
  
      @media (min-width: $tablet) {
        width: 25%;
        padding: 0 rem(28);
      }
  
      @media (min-width: $desktop) {
        width: 25%;
        padding: 0 rem(16);
      }
      
      .field--name-node-title {
        order: 2;
        h4 {
          margin: 0;
          font-family: $font-main;
          text-transform: none;
          font-weight: 700;
          text-align: center;
          line-height: 1.3;
          
          a {
            font-size: rem(18);
  
            @media (min-width: $desktop) {
              font-size: rem(20);
            }
          }
        }
      }
      
      .field--name-field-featured-image {
        margin-bottom: 1rem;
        
        img {
          width: rem(172);
          height: auto;
          border-radius: 50%;
    
          @media (min-width: $desktop) {
            width: rem(232);
          }
        }
      }
      
    }
  }
  
  
  /**
   * Sections 2 & 3 - "Bands".
   */
  .section-2,
  .section-3 {
    margin-top: rem(22);
  
    @media (min-width: $tablet-plus) {
      margin-top: rem(70);
    }
    
    > .inner-wrapper {
      /* .contained - See: /sass/styles/_layout.scss */
      @extend .contained;
      padding: rem(24) 0 rem(40);
      color: $white;
      text-align: center;
  
      @media (min-width: $tablet-plus) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: rem(-30);
        right: 5%;
        max-width: rem(442);
        min-height: rem(290);
        padding: rem(46) rem(40);
      }
  
      @media (min-width: $desktop-plus) {
        right: calc((100% - #{$max-page-width}) / 2);
      }
      
      &.left-align {
        @media (min-width: $tablet-plus) {
          right: auto;
          left: 5%;
        }
  
        @media (min-width: $desktop-plus) {
          right: auto;
          left: calc((100% - #{$max-page-width}) / 2);
        }
      }
    }
    
    a {
      color: $white;
    }
  }
  
  .field--name-field-band-1-image,
  .field--name-field-band-2-image {
    img {
      display: block;
      width: 100%;
    }
  }
  
  .field--name-field-band-1-text,
  .field--name-field-band-2-text {
    > * {
      margin-bottom: 0.75em;
      font-size: rem(23);
      letter-spacing: rem(0.67);
      line-height: 1.3;
  
      @media (min-width: $desktop) {
        font-size: rem(30);
        letter-spacing: rem(0.88);
      }
    }
  }
}
