/**
 * @file
 * Annual Reviews views styles.
 */

.block-views-blocklisting-page-annual-reviews-block-1 {
  /* See: /sass/styles/_layout.scss */
  @extend .content__contained--inset;
  margin-top: -1rem;
  padding-top: 0;
  background-color: $white;
  
  .view-content {
    margin-top: 1rem;
    
    .views-row {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $gray-border;
      
      @media (min-width: $tablet-plus) {
        display: flex;
        margin-bottom: 3rem;
        padding-bottom: 3rem;
      }
    }
    
    .text-wrapper {
      @media (min-width: $desktop) {
        min-width: rem(641);
      }
    }
    
    .field--name-field-year {
      font-family: $font-header;
      text-transform: uppercase;
      
      @media (min-width: $tablet-plus) {
        flex-shrink: 0;
        width: rem(116);
      }
    }
    
    .field--name-node-title {
      * {
        margin-bottom: 0.5em;
        text-transform: none;
        
        @media (min-width: $tablet-plus) {
          font-size: rem(33);
        }
      }
    }
    
    .field--name-field-teaser-text {
      *:last-child {
        margin-bottom: 0;
      }
    }
  }
}
