/**
 * @file
 * Upcoming Events Simple views styles.
 */

.block-views-blocklisting-page-events-upcoming-events-simple {
  /* See: /sass/styles/_layout.scss */
  @extend .content__contained--inset;
  padding-top: rem(40);
  padding-bottom: rem(32);
  
  @media (min-width: $desktop) {
    padding-top: rem(76);
    padding-bottom: 0;
  }
  
  > .outer-wrapper {
    position: relative;
    
    > .inner-wrapper {
      > div {
        position: relative;
      }
    }
  }
  
  .block-title {
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .view-content {
    @media (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 rem(-16);
    }
  }
  
  .views-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    background: $white;
  
    @media (min-width: $tablet) {
      margin: 0 rem(16) 1.5rem;
      //width: rem(350);
      width: calc(50% - 2rem)
    }
  
    @media (min-width: $tablet-plus) {
      width: calc(33% - 1.8rem)
    }
    
    .image-wrapper {
      order: 1;
      
      img {
        display: block;
      }
    }
    
    .text-wrapper {
      order: 2;
      padding: rem(24) rem(24) rem(32);
      
      .field--name-node-title {
        * {
          margin-bottom: 0.35em;
          text-transform: none;
        }
      }
      
      .field--name-field-event-date {
        font-family: $font-header;
        text-transform: uppercase;
  
        @media (min-width: $tablet) {
          font-size: rem(18);
        }
      }
      
      .field--name-field-location {
        * {
          font-size: rem(16);
        }
        
        *:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  
  .more-link {
    font-family: $font-header;
    text-align: left;
    text-transform: uppercase;
    
    @media (min-width: $tablet) {
      position: absolute;
      top: -3.2rem;
      right: 0;
    }
    
    a::after {
      content: url('../img/arrow_teal.svg');
      padding-left: 0.5rem;
    }
  }
}
