/**
 * @file
 * People views styles.
 */

.block-system-main-block + .block-views-blocklisting-page-people-block-1 {
  margin-top: -2.5rem;
  
  @media (min-width: $desktop) {
    margin-top: -4rem;
  }
}

.block-views-blocklisting-page-people-block-1 {
  > .outer-wrapper {
    > .inner-wrapper {
      /* See: /sass/styles/components/_node__base.scss */
      @extend .content__contained--no-inset;
      padding: 0 rem(16) rem(32);
      background-color: $white;
  
      @media (min-width: $desktop) {
        padding: 0 rem(80) rem(64);
      }
    }
  }
  
  .quick-links {
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
  
  .views-exposed-form {
    margin-bottom: 2rem;
    
    .form--inline {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }
    
    label {
      display: block;
      margin-bottom: 0.3em;
      font-size: rem(17);
      font-family: $font-header;
      font-weight: 500;
      text-transform: uppercase;
    }
    
    .form-item-field-staff-department-target-id {
      margin-right: rem(40);
    }
  }
  
  .item-list {
    padding-top: rem(48);
    border-top: 1px solid $gray-border;
    
    > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      list-style: none;
  
      @media (min-width: $desktop) {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -1rem;
      }
      
      > li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: rem(300);
        margin: 0;
        margin-bottom: 1rem;
  
        @media (min-width: $desktop) {
          flex: 0 0 auto;
          flex-direction: row;
          align-items: flex-start;
          width: calc(33% - 2rem);
          max-width: rem(350);
          margin: 0 1rem rem(50);
        }
      }
    }
  
    .text-wrapper {
      text-align: center;
    
      @media (min-width: $desktop) {
        margin-left: rem(24);
        text-align: left;
      }
    
      .field--name-node-title {
        h3 {
          margin-bottom: 0;
          font-weight: 400;
        }
      
        a {
          color: $text-color;
          font-size: rem(23);
        }
      }
    
      .field--name-field-job-title p {
        font-size: rem(15);
      }
    }
  
    .field--name-field-profile-image {
      order: -1;
      flex: 0 0 auto;
      width: rem(122);
      
      img {
        display: block;
        border-radius: 50%;
      }
    }
  }
}
