/**
 * @file
 * News views styles.
 */

.block-views-blocklisting-page-news-block-1 {
  /* See: /sass/styles/_layout.scss */
  @extend .content__contained--inset;
  margin-top: -1rem;
  padding-top: 0;
  background-color: $white;
  
  @media (min-width: $desktop) {
    margin-top: -3rem;
  }
  
  .views-exposed-form {
    margin-bottom: 2rem;
  
    @media (min-width: $tablet-plus) {
      margin-bottom: 4rem;
    }
    
    .form--inline {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }
    
    label {
      display: block;
      margin-bottom: 0.3em;
      font-size: rem(17);
      font-family: $font-header;
      font-weight: 500;
      text-transform: uppercase;
    }
    
    .form-type-select{
      width: 100%;
      max-width: rem(372);
      margin-top: 0;
  
      @media (min-width: $tablet-plus) {
        margin-right: rem(24);
      }
    }
    
    .form-item-field-staff-department-target-id {
      margin-right: rem(40);
    }
  }
  
  .view-content {
    .views-row {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $gray-border;
  
      @media (min-width: $tablet-plus) {
        display: flex;
        margin-bottom: 3rem;
        padding-bottom: 3rem;
      }
    }
    
    .text-wrapper {
      @media (min-width: $desktop) {
        min-width: 50%;
      }
    }
    
    .field--name-node-post-date {
      font-family: $font-header;
      text-transform: uppercase;
      
      @media (min-width: $tablet-plus) {
        flex-shrink: 0;
        width: rem(116);
      }
    }
    
    .field--name-field-focus {
      margin-bottom: 0.5rem;
      
      .field__item {
        display: inline;
        
        &::after {
          content: (', ');
        }
        
        &:last-child::after {
          content: ('');
        }
      }
    }
    
    .field--name-node-title {
      * {
        margin-bottom: 0.5em;
        text-transform: none;
  
        @media (min-width: $tablet-plus) {
          font-size: rem(33);
        }
      }
    }
    
    .field--name-field-teaser-text {
      //
    }
  
    .field--name-field-news-type {
      margin-bottom: 1rem;
  
      @media (min-width: $tablet-plus) {
        margin-bottom: 0;
      }
      
      &::before {
        content: url('../img/long_dash-gray.svg');
        position: relative;
        top: -0.3em;
        left: 0;
        padding-right: 0.3em;
      }
  
      .field__item {
        display: inline;
        font-family: $font-header;
        font-size: rem(15);
        
        &::after {
          content: (', ');
        }
      
        &:last-child::after {
          content: ('');
        }
      }
    }
    
    .field--name-field-featured-image {
      @media (min-width: $tablet-plus) {
        flex-shrink: 0;
        margin-left: rem(52);
      }
    }
  }
}
