/**
 * @file
 * Events views styles.
 */

.block-views-blocklisting-page-events-upcoming-events-block,
.block-views-blocklisting-page-events-past-events-block {
  /* See: /sass/styles/_layout.scss */
  @extend .content__contained--inset;
  margin-top: -1rem;
  padding-top: 0;
  background-color: $white;
  
  @media (min-width: $desktop) {
    margin-top: -3rem;
  }
  
  .view-header {
    .field--name-field-block-body {
      margin-bottom: 1.5rem;
      
      @media (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
      }
      
      .intro-text {
        @media (min-width: $desktop) {
          margin-right: 4rem;
        }
      }
      
      .button-wrapper {
        @media (min-width: $desktop) {
          flex-shrink: 0;
        }
      }
    }
  }
  
  .view-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .views-row {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
      max-width: rem(746);
  
      @media (min-width: $desktop) {
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 3rem;
        min-width: 100%;
        min-height: rem(420);
      }
      
      .text-wrapper {
        display: flex;
        flex-direction: column;
        order: 2;
        padding: rem(24);
        background-color: $teal;
  
        @media (min-width: $desktop) {
          order: 1;
          position: absolute;
          top: rem(38);
          left: 0;
          width: rem(415);
          min-height: rem(342);
          padding: rem(40);
        }
        
        * {
          color: $white;
        }
      }
  
      .field--name-node-title {
        * {
          font-size: rem(24);
          text-transform: none;
  
          @media (min-width: $desktop) {
            font-size: rem(33);
          }
        }
      }
      
      .field--name-field-event-date {
        font-family: $font-header;
        font-size: rem(21);
        text-transform: uppercase;
        line-height: 1.3;
      }
      
      .field--name-field-location {
        order: -1;
      }
      
      .field--name-field-event-type {
        position: relative;
        margin-top: 2rem;
        font-family: $font-header;
  
        &::before {
          content: url('../img/long_dash-white.svg');
          position: relative;
          top: -0.3em;
          left: 0;
          padding-right: 0.3em;
        }
      }
      
      .image-wrapper {
        order: 1;
        flex-shrink: 0;
  
        @media (min-width: $desktop) {
          order: 2;
          width: rem(746);
          height: rem(420);
          background-color: $gray-border;
        }
  
        .field--name-field-featured-image img {
          display: block;
        }
      }
    }
  
    .views-row:nth-child(even) {
      @media (min-width: $desktop) {
        justify-content: flex-start;
      }
      
      .text-wrapper {
        @media (min-width: $desktop) {
          right: 0;
          left: auto;
        }
      }
    }
  }
}
