/**
 * @file
 * Site Search views styles.
 */

/* Exposed form styles. */
.region-content-before {
  .block-views-exposed-filter-blocksite-search-page-1 {
    /* See: /sass/styles/_layout.scss */
    @extend .content__contained--inset;
    margin-top: -1rem;
    padding-bottom: 1rem;
    background-color: $white;
  
    @media (min-width: $tablet-plus) {
      margin-top: -3rem;
    }
  
    .inner-wrapper {
      @media (min-width: $desktop) {
        margin: 0 rem(176);
      }
    }
  
    #views-exposed-form-site-search-page-1 {
      .form--inline {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
  
        @media (min-width: $tablet) {
          flex-wrap: nowrap;
        }
      }
    
      label {
        display: block;
        margin-bottom: 0.3em;
        font-size: rem(17);
        font-family: $font-header;
        font-weight: 500;
        text-transform: uppercase;
      }
    
      .form-type-textfield {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
      
        @media (min-width: $tablet) {
          margin-right: rem(24);
        }
        
        input {
          width: 100%;
        }
      }
      
      .form-actions {
        margin-bottom: 0;
      }
    }
  }
}


/* Search results list styles. */
.view-id-site_search.view-display-id-page_1 {
  /* See: /sass/styles/_layout.scss */
  @extend .content__contained--inset;
  background-color: $white;

  .view-content,
  .view-empty {
    @media (min-width: $desktop) {
      margin: 0 rem(176);
    }
  }
  
  .view-content {
    .views__fields-wrapper {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $gray-border;
      
      @media (min-width: $tablet-plus) {
        display: flex;
        margin-bottom: 3rem;
        padding-bottom: 3rem;
      }
    }
    
    .text-wrapper {
      @media (min-width: $desktop) {
        min-width: rem(641);
      }
    }
    
    .views__field-created {
      font-family: $font-header;
      text-transform: uppercase;
      
      @media (min-width: $tablet-plus) {
        flex-shrink: 0;
        width: rem(116);
        padding-top: 1rem;
      }
    }
    
    .field--name-field-focus {
      margin-bottom: 0.5rem;
      
      .field__item {
        display: inline;
        
        &::after {
          content: (', ');
        }
        
        &:last-child::after {
          content: ('');
        }
      }
    }
    
    .views__field-title {
      * {
        margin-bottom: 0.5em;
        text-transform: none;
        
        @media (min-width: $tablet-plus) {
          font-size: rem(33);
        }
      }
    }
    
    .views__field-search-api-excerpt {
      //
    }
    
    .views__field-type {
      margin-bottom: 1rem;
      font-family: $font-header;
      font-size: rem(15);
      
      @media (min-width: $tablet-plus) {
        margin-bottom: 0;
      }
      
      &::before {
        content: url('../img/long_dash-gray.svg');
        position: relative;
        top: -0.3em;
        left: 0;
        padding-right: 0.3em;
      }
      
      .field__item {
        display: inline;
        font-family: $font-header;
        font-size: rem(15);
        
        &::after {
          content: (', ');
        }
        
        &:last-child::after {
          content: ('');
        }
      }
    }
    
    .field--name-field-featured-image {
      @media (min-width: $tablet-plus) {
        flex-shrink: 0;
        margin-left: rem(52);
      }
    }
  }
  
}
