{#
/**
 * @file
 * Theme override to display the Grants Search page.
 */
#}

{% extends "page.html.twig" %}

    {% block page_container %}
      <div class="page-container">

        {{ page.breadcrumb }}

        {{ page.highlighted }}

        {{ page.help }}

        <div class="flexbox-container">
          <div class="layout-content">
            {{ page.content }}
          </div>{# /.layout-content #}

          {% if page.sidebar_first %}
            <aside class="layout-sidebar-first" role="complementary">
              {{ page.sidebar_first }}
            </aside>
          {% endif %}

          {% if page.sidebar_second %}
            <aside class="layout-sidebar-second" role="complementary">
              {{ page.sidebar_second }}
            </aside>
          {% endif %}
        </div>
      </div>
    {% endblock %}
