/**
 * @file
 * Pocantico homepage styles.
 */

.page-node-type-pocantico-homepage {
  
  /* Feature section. */
  /* See: /sass/styles/components/_node__base.scss */
  
  
  /* Section 1. */
  .page-title {
    font-size: rem(32);
    color: $sage-dark;
    text-align: center;
  
    @media (min-width: $desktop) {
      font-size: rem(73);
    }
  }
  
  h2.pocantico-sections-title {
    @include visually-hidden;
  }
  
  
  .field--name-field-sub-pages {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 1rem;
    
      @media (min-width: $tablet) {
        margin-right: rem(-28);
        margin-left: rem(-28);
      }
    
      &:last-child {
        margin-bottom: 0;
      }
  
    > .field__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 1.5rem;
    
      @media (min-width: $tablet) {
        width: 25%;
        padding: 0 rem(28);
      }
    
      @media (min-width: $desktop) {
        width: 25%;
        padding: 0 rem(16);
      }
    
      .field--name-node-title {
        order: 2;
        
        h3 {
          margin: 0;
          font-family: $font-main;
          text-transform: none;
          font-weight: 700;
          text-align: center;
          line-height: 1.3;
        
          a {
            font-size: rem(18);
            color: $sage-dark;
          
            @media (min-width: $desktop) {
              font-size: rem(20);
            }
          }
        }
      }
    
      .field--name-field-featured-image {
        margin-bottom: 1rem;
      
        img {
          width: rem(172);
          height: auto;
          border-radius: 50%;
        
          @media (min-width: $desktop) {
            width: rem(232);
          }
        }
      }
    
    }
    
    .field--name-field-featured-image {
      img {
        border-radius: 50%;
      }
    }
  }
  
  
  /* Section 2. */
  .section-2 {
    position: relative;
    margin-top: rem(0);
  
    @media (min-width: $desktop) {
      margin-top: rem(-50);
    }
  
    img {
      display: block;
      width: 100%;
    }
  
    .field--name-field-body-image {
      position: relative;
    }
  
    .field--name-field-image-credit {
      position: absolute;
      top: 0.25rem;
      right: 0.5rem;
    
      > * {
        padding: .1rem .5rem;
        font-family: $font-header;
        font-weight: 300;
        font-size: rem(10);
        color: $white;
        background-color: $black;
      }
    }
  
    .field--name-field-body-image-caption {
      /* See: /sass/styles/_layout.scss */
      @extend .contained;
      margin: -1rem rem(10) 0;
      position: relative;
      background-color: $white;
    
      @media (min-width: $desktop) {
        position: absolute;
        bottom: rem(82);
        right: 5%;
        margin: 0;
        text-align: right;
        background-color: transparent;
      }
    
      @media (min-width: $desktop-plus) {
        position: absolute;
        bottom: rem(82);
        right: calc((100% - #{$max-page-width}) / 2);
        margin: 0;
        text-align: right;
        background-color: transparent;
      }
    
      > * {
        display: inline-block;
        margin: 0;
        padding: .5rem 1rem;
        font-family: $font-header;
        font-weight: 300;
        font-size: rem(15);
      
        @media (min-width: $desktop) {
          padding: .2rem .5rem;
          color: $white;
          font-size: rem(16);
          background-color: $black-50pct;
        }
      }
    }
  }
  
  /* Section 3. */
  .section-3 {
    @media (min-width: $desktop) {
      margin-top: rem(-72);
    }
    
    .field--name-field-body-heading {
      font-size: rem(32);
      
      @media (min-width: $desktop) {
        font-size: rem(52);
      }
    }
    
    .text-links-wrapper {
      @media (min-width: $tablet-plus) {
        display: flex;
        justify-content: space-between;
      }
    }
    
    .field--name-field-body-content {
      @media (min-width: $tablet-plus) {
        width: 64%;
        
        * {
          font-size: rem(19);
        }
      }
    }
    
    .links-wrapper {
      @media (min-width: $tablet-plus) {
        padding-right: 2rem;
      }
      
      .body-link {
        display: flex;
        align-items: center;
        margin-bottom: rem(20);
  
        @media (min-width: $tablet-plus) {
          margin-bottom: rem(36);
        }
        
        &:last-child {
          margin-bottom: 0;
        }
      }
      
      .field--name-field-body-link-1-icon,
      .field--name-field-body-link-2-icon,
      .field--name-field-body-link-3-icon {
        margin: 0;
        padding-right: rem(26);
        
        img {
          display: block;
        }
      }
      
      .field--type-link {
        a {
          font-size: rem(21);
          font-family: $font-header;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
  }
}
