/**
 * @file
 * Annual Review node styles.
 */

.page-node-type-annual-review {
  .section-title {
    padding-bottom: 1rem;
  }
  
  .section-body {
    margin-top: rem(-22);
    
    @media (min-width: $desktop) {
      margin-top: rem(-44);
    }
  }
  
  .image-wrapper {
    margin-bottom: 2rem;
  }
}
