/**
 * @file
 * Person node styles.
 */

.page-node-type-person {
  
  /* Header banner. */
  .header-banner {
    position: relative;
  }
  
  /* Section 1. */
  .section-1 {
    margin-top: -1rem;
  
    @media (min-width: $desktop) {
      margin-top: -2.5rem;
    }
  }
  
  .section-1 .inner-wrapper {
    @media (min-width: $desktop) {
      display: flex;
    }
  }
  
  .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    @media (min-width: $desktop) {
    
    }
  }
  
  .page-title {
    margin-bottom: 0.4em;
    font-size: rem(27);
    color: $text-color;
    font-weight: 400;
    text-transform: none;
    
    @media (min-width: $desktop) {
      font-size: rem(45);
    }
  }
  
  .field--name-field-job-title {
    > * {
      margin-bottom: 0.25em;
    }
  }
  
  .field--name-field-staff-department {
    .field__item {
      display: inline;
      
      a {
        color: $green;
      }
      
      &::after {
        content: ',';
      }
      
      &:last-child::after {
        content: '';
      }
    }
  }
  
  .field--name-field-profile-image {
    margin-top: 1rem;
    
    @media (min-width: $desktop) {
      order: -1;
      margin-top: 0;
      margin-right: rem(32);
    }
    
    img {
      border-radius: 50%;
    }
  }
  
  
  /* Section 2. */
  .section-2 {
    margin-top: 0;
    padding-top: 0;
  }
  
  
  /* Related (news). */
  .block-views-blockrelated-news-block-1 {
    .outer-wrapper {
      /* See: /sass/styles/components/_node__base.scss */
      @extend .content__contained--inset;
      background-color: $white;
      padding-top: 0;
    }
    
    .block-title {
      /* See: /sass/base/_typography.scss */
      @extend .heading2;
    }
    
    .view {
      ul {
        padding-left: 0;
        list-style: none;
      }
      
      li {
        margin-left: 0;
        margin-bottom: rem(23);
        padding-bottom: rem(25);
        border-bottom: 1px solid $gray-border;
        
        &:last-child {
          border-bottom: 0;
        }
        
        @media (min-width: $desktop) {
          display: flex;
          align-items: baseline;
        }
    
        .views-field-created {
          font-family: $font-header;
          font-size: rem(15);
          text-transform: uppercase;
  
          @media (min-width: $desktop) {
            width: rem(122);
            font-size: rem(16);
          }
        }
        
        .views-field-title {
          font-family: $font-header;
          font-size: rem(18);
          font-weight: 500;
          line-height: 1.3;
  
          @media (min-width: $desktop) {
            font-size: rem(20);
          }
        }
      }
    }
  }
}
