/**
 * @file
 * Timeline(s) node styles.
 */

.page-node-type-timeline-rbf-event {
  .section-title {
    padding-bottom: 1rem;
  }
  
  .section-body {
    margin-top: rem(-22);
    
    @media (min-width: $desktop) {
      margin-top: rem(-44);
    }
  }
  
  .field--label-inline .field__label {
    padding-right: 0;
    
    &::after {
      content: ' ';
    }
  }
  
  .field--name-field-timeline-focus {
    margin-bottom: 1rem;
    font-size: rem(16);
    line-height: 1.3;
  
    @media (min-width: $desktop) {
      margin-bottom: 2rem;
    }
  }
  
  .byline-wrapper {
    margin-top: 1.25rem;
  }
  
  .field--name-field-author,
  .field--name-field-timeline-date,
  .field--name-field-news-type {
    * {
      float: none;
      display: inline-block;
      font-family: $font-header;
      font-size: rem(16);
      font-weight: 500;
      text-transform: uppercase;
    }
    
    @media (min-width: $desktop) {
      display: inline-block;
      margin-right: 2rem;
    }
  }
  
  .field--name-node-post-date {
    * {
      font-weight: 400;
    }
  }
  
  .field--name-field-news-type {
    position: relative;
    
    * {
      font-weight: 400;
      text-transform: none;
    }
    
    @media (min-width: $desktop) {
      &::before {
        content: url('../img/long_dash-white.svg');
        position: relative;
        top: -0.3em;
        left: 0;
        padding-right: 0.3em;
      }
    }
  }
  
  .image-wrapper {
    margin-bottom: 2rem;
  }
}
