/**
 * @file
 * Event node styles.
 */

.page-node-type-event {
  .field--name-node-title h1 {
    text-transform: none;
  }
  
  .feature {
    margin-bottom: 1rem;
  
    @media (min-width: $desktop) {
      margin-bottom: 3rem;
    }
  }
  
  .section-body {
    margin-top: rem(-22);
  
    @media (min-width: $desktop) {
      margin-top: rem(-44);
    }
  }
  
  .field--name-field-event-date {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-family: $font-header;
    font-size: rem(24);
    color: $teal;
    text-transform: uppercase;
    line-height: 1.3;
    
    @media (min-width: $desktop) {
      font-size: rem(31);
    }
    
    &:before {
      content: '';
      width: rem(48);
      height: rem(40);
      margin-right: rem(14);
      background: url('../img/calendar.svg') no-repeat center center;
      background-size: contain;
    }
  }
  
  .location-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    
    * {
      font-family: $font-header;
      font-size: rem(21);
      line-height: 1.3;
    }
  }
  
  .field--name-field-location {
    * {
      margin-bottom: 0;
    }
  }
  
  .field--name-field-location ~ .field--name-field-visitor-info {
    margin-left: 0.5rem;
    
    &:before {
      content: ('|');
    }
    
    a {
      margin-left: 0.5rem;
    }
  }
  
  .field--name-field-registration-info {
    margin-bottom: 0.5rem;
    
    * {
      font-family: $font-header;
      font-size: rem(21);
      line-height: 1.3;
    }
  }
  
  .field--name-field-registration-link {
    margin-bottom: rem(36);
  
    @media (min-width: $desktop) {
      margin-bottom: rem(70);
    }
  }
}
