/**
 * @file
 * Timeline Decade node styles.
 */

.page-node-type-timeline-decade {
  .section-body {
    margin-top: -1rem;
  
    @media (min-width: $desktop) {
      margin-top: -2.5rem;
    }
  }
}
