/**
 * @file
 * Grantee node styles.
 */

.page-node-type-grantee {
  .page-title {
    text-transform: none;
  }
  
  .section-title {
    padding-bottom: 1rem;
  }
  
  .section-body {
    margin-top: rem(-22);
    padding-bottom: 0;
    
    @media (min-width: $desktop) {
      margin-top: rem(-44);
    }
  }
  
  .image-wrapper {
    margin-bottom: 2rem;
  }
  
  .field--name-field-address {
    
    .address {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
      font-family: $font-header;
      font-size: rem(24);
      color: $teal;
      text-transform: uppercase;
      line-height: 1.3;
  
      @media (min-width: $desktop) {
        font-size: rem(31);
      }
  
      &:before {
        content: '';
        width: rem(32);
        height: rem(41);
        margin-right: rem(14);
        background: url('../img/map_pin_icon.svg') no-repeat center center;
        background-size: contain;
      }
    }
  
    .administrative-area {
      padding-left: 0.2em;
    }
    
    .country {
      //padding-left: 0.5em;
      
      &:before {
        content: ', ';
      }
    }
  }
  
  .field--name-field-website {
    margin-bottom: 2.5rem;
    
    a {
      display: flex;
      align-items: center;
      font-size: rem(20);
      font-family: $font-header;
      line-height: 1.3;
  
      @media (min-width: $desktop) {
        font-size: rem(25);
      }
  
      &:before {
        content: '';
        width: rem(32);
        height: rem(32);
        margin-right: rem(14);
        background: url('../img/globe_icon.svg') no-repeat center center;
        background-size: contain;
      }
    }
  }
}
