{% extends "field.html.twig" %}

{# Wrap content with heading 2 label and strip inner tags. #}
{% block label_hidden_single_item %}
  {% for item in items %}
    {% set goal_title %}
      {{ item.content }}
    {% endset %}
    <div{{ attributes.addClass(classes, 'field__item') }}><h2 class="field__label">{{ goal_title|striptags }}</h2></div>
  {% endfor %}
{% endblock %}
