{% extends "field.html.twig" %}

{# Wrap label with heading 2 and strip inner tags. #}
{% block label_hidden_single_item %}
  {% for item in items %}
    {% set item_title %}
      {{ item.content }}
    {% endset %}
    <div{{ attributes.addClass(classes, 'field__item') }}><h2>{{ item_title|striptags }}</h2></div>
  {% endfor %}
{% endblock %}
