// Mobile-First Breakpoints - uses bp-em to convert pixels to ems

$mobile: bp-em(679);
$tablet: bp-em(680);
$tablet-plus-max: bp-em(959);
$tablet-plus: bp-em(960);
$desktop-narrow-max: bp-em(1099);
$desktop-narrow: bp-em(1100);
$desktop: bp-em(1279);
//$desktop: bp-em(1230);
$desktop-plus: bp-em(1440);
$print: "print";
