// Base Colors

$black:         #000;
$black-50pct:   rgba(0, 0, 0, 0.5);
$white:         #fff;

$teal:          #007377;
$teal-light:    #bfdcdd;
$teal-dark:     #006064;
$green:         #518123;
$berry:         #a50050;
$cobalt:        #003865;
$cobalt-dark:   #002949;
$sage:          #789d4a;
$sage-dark:     #518123;
$ice-blue:      #e2f3f3;

$gray-bg:       #f0f0f0;
$gray-border:   #e0e0e0;
$gray-border2:  #979797;
$gray-med:      #727272;
$brownish-grey: $gray-med;

$text-color:    #4a4a4a;
