/**
 * @file
 * Mega Menu styles.
 */

.hide-title {
  display: none !important;
}

.megamenu.menu--main {
  position: static;
}

/*
 * Mega Menu toggle (hamburger).
 */

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent
}

.hamburger-box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: rem(21);
  height: rem(17);
}

.hamburger-label {
  display: inline-block;
  margin-left: rem(5);
  font-family: $font-header;
  font-size: rem(15);
  color: $teal;
  text-transform: uppercase;
}

.hamburger-inner {
  top: 50%;
  display: inline-block;
  margin-top: -2px
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: rem(21);
  height: rem(2);
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property:transform;
  border-radius: 1px;
  background-color: $teal;
}

.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: '';
}

.hamburger-inner:before {
  top: rem(-7);
}

.hamburger-inner:after {
  bottom: rem(-7);
}

.hamburger--squeeze .hamburger-inner {
  transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  transition-duration: 75ms
}
.hamburger--squeeze .hamburger-inner:before {
  transition: top 75ms ease .12s,opacity 75ms ease
}
.hamburger--squeeze .hamburger-inner:after {
  transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19)
}
.hamburger--squeeze[aria-expanded=true] .hamburger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transform: rotate(45deg)
}
.hamburger--squeeze[aria-expanded=true] .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease,opacity 75ms ease .12s;
  opacity: 0
}
.hamburger--squeeze[aria-expanded=true] .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
  transform: rotate(-90deg)
}

.accessible-megamenu-toggle {
  background: none;
  border: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: rem(18);
  left: rem(21);
  text-align: left;
  
  .sr-only {
    @include visually-hidden;
  }
  
  
  ~ .accessible-megamenu {
    height: 0;
    overflow: hidden;
    visibility: collapse;

    @media (min-width: $desktop-narrow) {
      height: auto;
      overflow: visible;
      visibility: visible;
    }
  }
  
  &[aria-expanded=true] ~ .accessible-megamenu {
    height: auto;
    overflow: visible;
    visibility: visible;
    margin-top: -5.5rem;
    
    @media (min-width: $desktop-narrow) {
      margin-top: 0;
    }
  }
  
  @media (min-width: $desktop-narrow) {
    display: none;
  }
}


/*
 * Mega Menu list.
 */

.accessible-megamenu.menu {
  position: relative;
  z-index: 15;
  list-style: none;
  margin: 0 rem(20) 0 rem(-28);
  padding: 0;
  background-color: $gray-bg;
  border-right: rem(2) solid $gray-border;
  border-bottom: rem(2) solid $gray-border;
  
  @media (min-width: $desktop-narrow) {
    position: static;
    text-align: right;
    margin: 0;
    background-color: transparent;
    border: none;
  }
}

.accessible-megamenu-top-nav-item {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  
  @media (min-width: $desktop-narrow) {
    display: inline-block;
  }
}

.accessible-megamenu-top-nav-item > a {
  position: relative;
  display: inline-block;
  padding: 0.5rem 0.75rem 0.4rem;
  margin: 0 0 -1px 0;
  font-size: rem(19);
  color: $black;
  text-decoration: none;
  border: none;
  
  @media (min-width: $desktop-narrow) {
    font-size: rem(18);
    padding: 0.5rem 0.5rem 0.4rem;
  }
  
  @media (min-width: $desktop) {
    font-size: rem(19);
    padding: 0.5rem 0.75rem 0.4rem;
  }
}

.menu-item.accessible-megamenu-top-nav-item:nth-last-child(2) > a {
  padding-right: 0;
}

.accessible-megamenu-top-nav-item.menu-item--expanded > a > span::after {
  background: url(../img/nav-arrow.svg) no-repeat center;
  width: rem(8);
  height: rem(12);
  content:'';
  display: inline-block;
  margin-left: 0.35rem;
}

.accessible-megamenu-top-nav-item > a > span {
  display: inline-block;
  padding-bottom: 0.15rem;
  border-bottom: 2px solid transparent;
}

.accessible-megamenu-top-nav-item.menu-item--active-trail > a > span {
  border-color: $teal;
}

.accessible-megamenu-top-nav-item.menu-item--active-trail > a.open > span {
  border-color: transparent;
}


/* Open state of first descendant link within a top level navigation item. */
.accessible-megamenu-top-nav-item > a.open {
  z-index: 1;
  border-bottom: none;
  background-color: $gray-bg;
}

/*
 * Mega Menu sub-navigation panel.
 */

html:not(.js-yes) .accessible-megamenu-panel {
  position: static;
  display: block;
}

.accessible-megamenu-panel {
  display: none;
  width: 100%;
  margin-top: -1px;
  padding: 0.5em 1em;
  
  @media (min-width: $desktop-narrow) {
    position: absolute;
    top: 7.2rem;
    left: 0;
    padding: rem(50) 0;
    border-bottom: 6px solid $sage;
    background-color: $gray-bg;
  }
  
  @media (min-width: $desktop) {
    top: 7.4rem;
  }
}

/* Sub-navigation panel open state. */
.accessible-megamenu-panel.open {
  display: block;
}

/* Sub-navigation panel column. */
.accessible-megamenu-panel .mega-menu__column-wrapper {
  
  @media (min-width: $desktop-narrow) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    > .menu-item {
      width: calc(100% - #{rem(76)} - #{rem(365)});
      
      &:last-child {
        width: rem(365);
      }
    }
  }
}

/* List of items within sub-navigation panel. */
.accessible-megamenu-panel ul {
  margin: 0;
  padding: 0;
}

.accessible-megamenu-panel > ul {
  @media (min-width: $desktop-narrow) {
    max-width: 90%;
    margin: 0 auto;
  }
  
  @media (min-width: $desktop-plus) {
    max-width: $max-page-width - 11.25rem;
    margin: 0 auto;
  }
}

/* List item in sub-navigation panel. */
.accessible-megamenu-panel li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: $oswald;
  font-size: rem(18);
  text-transform: uppercase;
  
  /* Column title. */
  > span {
    display: block;
    margin-bottom: rem(10);
    border-bottom: 1px solid black;
  
    @media (min-width: $desktop-narrow) {
      font-size: rem(24);
    }
  }
  
  a {
    display: block;
    padding: rem(12) rem(16) rem(15) 0;
    font-size: rem(18);
    border-bottom: 1px solid $gray-border;
    background: url('../img/pager_arrow_right_teal.svg') no-repeat right center;
  }
}

.accessible-megamenu-panel li:last-child {
  a {
    border-bottom: none;
  }
}

/* List item PROMO in sub-navigation panel. */
.accessible-megamenu-panel li.menu-item__promo {
  display: flex;
  flex-direction: column;
  max-width: rem(365);
  
  > a {
    order: 2;
    padding: 1rem 1rem 1.25rem;
    color: $white;
    background-color: $teal;
    background-image: none;
    
    &::after {
      content: url('../img/arrow.svg');
      margin-left: 0.5rem;
    }
    
    &:hover::after,
    &:active::after,
    &:focus::after {
      margin-left: 1rem;
    }
    
    &.berry {
      background-color: $berry;
    }
  
    &.cobalt {
      background-color: $cobalt;
    }
  
    &.teal {
      background-color: $teal;
    }
  }
  
  img {
    display: block;
  }
}

/* List item with SMALL THUMBNAIL in sub-navigation panel. */
.accessible-megamenu-panel {
  .menu-item__small-thumbnail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(10) 0;
    //padding: rem(20) 0;
    //border-bottom: 1px solid $gray-border;
  
    > a {
      order: 2;
      width: calc(100% - 1rem - #{rem(50)});
      padding: 0 rem(16) 0 0;
      font-family: $font-main;
      text-transform: none;
      border-bottom: none;
    
      @media (min-width: $desktop-narrow) {
        width: calc(100% - 1rem - #{rem(72)});
      }
    }
  
    .menu_link_content {
      order: 1;
    }
  
    .field--name-field-small-thumbnail {
      img {
        display: block;
        width: rem(50);
        height: rem(50);
        border-radius: 50%;
      
        @media (min-width: $desktop-narrow) {
          width: rem(72);
          height: rem(72);
        }
      }
    }
  
    &:last-child {
      border-bottom: none;
    }
  }
}

/* Horizontal rule menu styles. */
.megamenu.block-menu .accessible-megamenu.menu .menu-item__horizontal-rule {
  width: 100%;
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  border-top: 1px solid $black;
  
  .horizontal-rule {
    display: none;
  }
}


/**
 * 50/50 menu styles.
 */
.menu-50-50 ~ .accessible-megamenu-panel {
  .mega-menu__column-wrapper {
    > .menu-item {
      @media (min-width: $desktop-narrow) {
        width: 46.5%;
      }
    }
  }
}


/**
 * 50/50 submenu styles.
 */
.submenu-50-50 ~ .menu_link_content {
  > ul {
    display: flex;
    flex-wrap: wrap;
    
    @media (min-width: $desktop-narrow) {
      margin: 0 rem(-23);
    }
    
    > li {
      width: 100%;
  
      @media (min-width: $desktop-narrow) {
        width: 50%;
        padding-right: rem(23);
        padding-left: rem(23);
      }
    }
  }
}
