/**
 * @file
 * Pager styles.
 */

.pager {
  font-size: rem(18);
  font-family: $font-header;
  text-transform: uppercase;
  
  .pager__items {
    padding-left: 0;
  }
  
  .pager__item {
    display: none;
    padding: 0 rem(10);
    
    &:nth-child(-n+5) {
      display: inline-block;
    }
  
    @media (min-width: $tablet) {
      display: inline-block;
      padding: 0 rem(15);
    }
  
    @media (min-width: $desktop) {
      padding: 0 rem(24);
    }
  }
  
  a {
    padding: 0 rem(1);
    color: $text-color;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    
    &:hover,
    &:focus,
    &:active {
      color: $berry;
      border-bottom: 2px solid $berry;
    }
  }
  
  .is-active a {
    color: $berry;
    font-weight: 700;
    border-bottom: 2px solid $berry;
  }
  
  .pager__item--first,
  .pager__item--previous,
  .pager__item--next,
  .pager__item--last {
    a {
      text-decoration: underline;
      
      &:hover,
      &:focus,
      &:active {
        color: $berry;
        text-decoration: none;
        border-bottom: 2px solid $berry;
      }
    }
  }
  
  .pager__item--previous,
  .pager__item--next,
  .pager__item--ellipsis {
    display: inline-block !important;
  }
  
  .pager__item--previous {
    padding-left: 0;
    
    @media (min-width: $tablet) {
      a {
        padding-left: rem(24);
        background: url('../img/pager_arrow_left.svg') no-repeat left 0.3rem;
    
        &:hover,
        &:focus,
        &:active {
          background-image: url('../img/pager_arrow_focus_left.svg');
        }
      }
    }
  }
  
  .pager__item--next {
    padding-right: 0;
    
    @media (min-width: $tablet) {
      a {
        padding-right: rem(24);
        background: url('../img/pager_arrow_right.svg') no-repeat right 0.3rem;
    
        &:hover,
        &:focus,
        &:active {
          background-image: url('../img/pager_arrow_focus_right.svg');
        }
      }
    }
  }
  
  /* Hide "first" and "last" links (per design mockups). */
  .pager__item--first,
  .pager__item--last {
    display: none !important;
  }
}
