/**
 * @file
 * Table styles.
 */

.block-system-main-block {
  table {
    background-color: $white;
    border: 1px solid $gray-border;
    
    th,
    td {
      padding: rem(16) rem(9) !important;
      border: 1px solid $gray-border;
    }
    
    th {
      font-family: $font-header;
      font-size: rem(16);
      font-weight: 500;
      color: $teal;
      line-height: 1.3;
      border-bottom: 0;
      background-color: $ice-blue;
    }
    
    td {
      font-size: rem(13);
      line-height: 1.3;
      border-bottom-width: 3px;
      
      a {
        font-size: rem(13);
        color: $sage-dark;
      }
    }
    
    tr:first-child td {
      border-top: 0;
    }
    
    tr:last-child td {
      border-bottom-width: 1px;
    }
  }
}
