// Font Stacks/Sizes

$base-font-size: 16; // Pixel value only, no px unit
$base-line-height: 1.67;

/* Fonts should only be imported via .libraries.yml */
//@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@300;400;500;600;700&display=swap");


// Define font variables.
$times-new-roman: "Times New Roman", Times, Georgia, serif;
$times: Times, "Times New Roman", Georgia, serif;
$georgia: Georgia, "Times New Roman", serif;
$verdana: Verdana, Tahoma, sans-serif;
$tahoma: Tahoma, Verdana, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$arial: Arial, Helvetica,  sans-serif;
$courier: "Courier New", monospace, sans-serif;
$merriweather: Merriweather, $georgia;
$oswald: Oswald, $helvetica;
$font-main: $merriweather;
$font-header: $oswald;
