{#
/**
 * @file
 * Mega menu theme override to display the main menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - content.children: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - content: The field item content.
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {# Add "accessible-megamenu" class to top menu level container. #}
  <ul class="accessible-megamenu menu menu-level-{{ items|first.menu_level }}">
    {% for key, item in items if key|first != '#' %}
      {# Add "accessible-megamenu-top-nav-item" class to top level menu element. #}
      {% set menu_item_classes = [
      'menu-item accessible-megamenu-top-nav-item',
      item.is_expanded ? 'menu-item--expanded',
      item.is_collapsed ? 'menu-item--collapsed',
      item.in_active_trail ? 'menu-item--active-trail',
      ] %}

      <li{{ item.attributes.addClass(menu_item_classes) }}>
        {{ link(item.title, item.url) }}
        {% set rendered_content = item.content|without('') %}
        {% if rendered_content|render %}
          {{ rendered_content }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
