.contained {
  margin: 0 rem(28);
  
  @media (min-width:$tablet) {
    margin: 0 $page-margin*2;
  }
  
  @media (min-width: $desktop) {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
  }
  
  @media (min-width: $desktop-plus) {
    max-width: $max-page-width;
    margin: 0 auto;
  }
}

.content__contained--inset {
  /* See: /sass/styles/_layout.scss */
  @extend .contained;
  position: relative;
  z-index: 10;
  margin: 0 rem(10);
  padding: rem(16) rem(16) rem(32);
  
  @media (min-width: $desktop) {
    margin: 0 auto;
    padding: rem(50) rem(80) rem(64);
  }
  
  > .field--name-node-title {
    max-width: 80ch;
    margin: 0 auto;
  
    @media (min-width: $desktop) {
      max-width: 100%;
    }
  }
  
  > [class*="inner-wrapper"] {
    max-width: 80ch;
    margin: 0 auto;
    
    @media (min-width: $desktop) {
      //max-width: rem(665);
      max-width: rem(767);
      //margin: 0 rem(176);
    }
  }
}

.content__contained--small-inset {
  /* See: /sass/styles/_layout.scss */
  @extend .contained;
  position: relative;
  z-index: 10;
  margin: 0 rem(10);
  padding: rem(16) rem(16) rem(32);
  
  @media (min-width: $desktop) {
    margin: 0 auto;
    padding: rem(50) rem(80) rem(64);
  }
  
  > .field--name-node-title {
    max-width: 80ch;
    margin: 0 auto;
  
    @media (min-width: $desktop) {
      max-width: 100%;
    }
  }
  
  > [class*="inner-wrapper"] {
    max-width: 80ch;
    margin: 0 auto;
    
    @media (min-width: $desktop) {
      max-width: rem(925);
    }
  }
}

.content__contained--no-inset {
  /* See: /sass/styles/_layout.scss */
  @extend .contained;
  position: relative;
  z-index: 10;
  margin: 0 rem(10);
  padding: rem(16) rem(16) rem(32);
  
  @media (min-width: $desktop) {
    margin: 0 auto;
    padding: rem(50) rem(80) rem(64);
  }
}

/* Remove margin inset from Listing pages. */
.listing-page {
  .block-system-main-block [class*="content__contained--"] {
    > [class*="inner-wrapper"] {
      margin: 0;
    
      @media (min-width: $desktop) {
        max-width: 100%;
        margin: 0;
      }
    }
  }
}

.page-container {
  margin: 0 auto;
}

header.page-container > .inner-wrapper,
footer > .page-container {
  /* See: /sass/styles/_layout.scss */
  @extend .contained;
}


/* Layout with First Sidebar. */
.layout-sidebar-first {
  .flexbox-container {
    /* See: /sass/styles/_layout.scss */
    @extend .content__contained--inset;
    background-color: $white;
  
    @media (min-width: $tablet-plus) {
      display: flex;
      flex-wrap: nowrap;
    }
    
    .layout-content {
      order: 2;
      width: 100%;
      
      @media (min-width: $tablet-plus) {
        width: calc(100% - #{rem(390)});
        padding-left: rem(48);
      }
    }
    
    .layout-sidebar-first {
      order: 1;
      width: 100%;
      
      @media (min-width: $tablet-plus) {
        width: rem(390);
      }
    }
  }
}


