// Base Typography Styles

.body-text-size {
  font-size: rem(16);
  
  @media (min-width: $desktop) {
    font-size: rem(18);
  }
}

// Headers
h1,
h2,
h3,
h4,
.heading1,
.heading2,
.heading3,
.heading4 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: $font-header;
  font-weight: 500;
  
  > a {
    font-size: inherit;
  }
}


h1,
.heading1 {
  margin-top: 0;
  margin-bottom: 0.4em;
  color: $teal;
  font-size: rem(32);
  font-weight: 500;
  line-height: 1.21;
  text-transform: uppercase;
  
  @media (min-width: $desktop) {
    font-size: rem(54);
  }
}

h2,
.heading2 {
  color: $green;
  font-size: rem(22);
  line-height: 1.33;
  text-transform: uppercase;
  
  @media (min-width: $desktop) {
    font-size: rem(27);
  }
}

h3,
.heading3 {
  color: $text-color;
  font-size: rem(20);
  line-height: 1.33;
  
  @media (min-width: $desktop) {
    font-size: rem(23);
  }
}

h4,
.heading4 {
  color: $brownish-grey;
  font-size: rem(15);
  line-height: 1.33;
  text-transform: uppercase;
  
  @media (min-width: $desktop) {
    font-size: rem(15);
  }
}

h2 ~ h3,
h2 ~ h4 {
  margin-top: 0;
}

.field--type-text-long {
  h1,
  h2,
  h3,
  h4,
  .heading1,
  .heading2,
  .heading3,
  .heading4 {
    margin-top: 1em;
  }
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
}

// Other
p,
pre {
  margin: 0;
  /* .body-text-size - See: /sass/base/_typography.scss */
  @extend .body-text-size;
}

.region-content-before p,
.region-content p {
  margin-bottom: 1em;
}

ul,
ol {
  /* .body-text-size - See: /sass/base/_typography.scss */
  @extend .body-text-size;
}

em,
i {
  font-style: italic;
}

blockquote {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

sup {
  vertical-align: super;
  font-size: 50%;
  line-height: 0;
}

sub {
  vertical-align: sub;
  font-size: 50%;
  line-height: 0;
}

a {
  color: $teal;
  /* .body-text-size - See: /sass/base/_typography.scss */
  @extend .body-text-size;

  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
