/**
 * @file
 * Grants Search views styles.
 */

.path-grants-search {
  &.layout-sidebar-first {
    .flexbox-container {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

/* Subhead. */
.block-fixed-block-contentgrants-search-subtitle {
  background-color: $teal;
  
  .inner-wrapper {
    /* See: /sass/styles/_layout.scss */
    @extend .content__contained--no-inset;
    margin-top: -1.5rem;
    padding-top: 0;
    padding-bottom: 2rem;
    
    @media (min-width: $desktop) {
      margin-top: -4.5rem;
      padding-bottom: 5rem;
    }
  }
  
  .field--name-field-block-body {
    max-width: 75ch;
    color: $white;
    
     * {
       font-size: rem(18);
       
       @media (min-width: $desktop) {
         font-size: rem(22);
       }
     }
  }
}


/* Intro text. */
.region-content-before {
  .block-fixed-block-contentgrants-search-intro-text {
    /* See: /sass/styles/_layout.scss */
    @extend .content__contained--inset;
    margin-top: -1rem;
    padding-bottom: 0;
    background-color: $white;
  
    @media (min-width: $desktop) {
      margin-top: -3rem;
    }
  
    .field--name-field-block-body {
      max-width: 85ch;
    }
  }
}

/* Exposed form styles. */
.region-content-before {
  .block-views-exposed-filter-blockgrants-search-page-1 {
    /* See: /sass/styles/_layout.scss */
    @extend .content__contained--inset;
    padding-bottom: 1rem;
    background-color: $white;
    
    @media (min-width: $tablet-plus) {
    }
    
    #views-exposed-form-grants-search-page-1 {
      .form--inline {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        
        @media (min-width: $tablet) {
          flex-wrap: nowrap;
        }
      }
      
      label {
        display: block;
        margin-bottom: 0.3em;
        font-size: rem(17);
        font-family: $font-header;
        font-weight: 500;
        text-transform: uppercase;
      }
      
      .form-type-textfield {
        width: 100%;
        max-width: rem(390);
        margin-top: 0;
        margin-bottom: 0;
        
        @media (min-width: $tablet) {
          margin-right: rem(24);
        }
        
        input {
          width: 100%;
        }
      }
      
      .form-actions {
        margin-bottom: 0;
      }
    }
  }
}


/* Facet toggle styles. */
.gs-facets-toggle,
.gs-facets-close {
  display: none;
}

@media (max-width: $tablet-plus-max) {
  .path-grants-search {
    .flexbox-container {
      position: relative;
    }
    
    .layout-sidebar-first {
      .region-sidebar-first {
        position: absolute;
        top: 3rem;
        bottom: 0;
        left: 0;
        right: auto;
        z-index: 10;
        background: $white;
        width: 90%;
        max-width: rem(420);
        padding: rem(24) rem(16);
        transition: transform 150ms ease 0ms;
        transform: translateX(0);
    
        &.closed {
          transform: translateX(calc(-100% - #{rem(10)}));
        }
      }
    }
  }
  
  .gs-facets-toggle {
    display: block;
    position: relative;
    margin-bottom: 1rem;
    
    &::after {
      content: url('../img/minus.svg');
      position: relative;
      top: rem(-6);
      padding-left: 0.5rem;
    }
    
    &.closed::after {
      content: url('../img/plus.svg');
      top: 0;
    }
  }
  
  .gs-facets-close {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: -2rem;
    @include hidetext();
    
    &::before {
      content: '';
      display: inline-block;
      width: rem(24);
      height: rem(24);
      background-image: url('../img/x-close--white.svg');
      background-size: rem(24) rem(24);
      background-repeat: no-repeat;
    }
    
    &.closed {
      display: none;
    }
  }
  
  .gs-facets-backdrop {
    position: absolute;
    top: 3rem;
    bottom: 0;
    left: rem(-10);
    right: rem(-20);
    z-index: 2;
    opacity: 1;
    background: rgba($black,0.6);
    transition: opacity 150ms ease 0ms;
    
    &.closed {
      max-width: 0;
      opacity: 0;
    }
  }
}


/* Facet filter styles. */
.path-grants-search {
  .block-facets {
    margin-bottom: rem(24);
    
    &.block-facet--checkbox {
      margin-bottom: rem(40);
    }
    
    .block-title {
      display: block;
      margin-bottom: 0.3em;
      font-size: rem(17);
      font-family: $font-header;
      font-weight: 500;
      text-transform: uppercase;
    }
    
    .facets-widget-checkbox {
      margin-top: 0.25rem;
      border-top: 1px solid $gray-border;
      
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      
      /* Top level checkbox facet styles. */
      > ul > li.facet-item {
        position: relative;
        padding: 1rem 2rem 1rem 0.5rem;
        line-height: 1.3;
        border-bottom: 1px solid $gray-border;
  
        @media (min-width: $tablet-plus) {
          padding: 1rem 3rem 1rem 1rem;
        }
        
        .facets-checkbox {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-color: transparent;
        }
        
        &::before {
          content: url('../img/dropdown_arrow.svg');
          position: absolute;
          width: rem(22);
          height: rem(22);
          top: 1.1rem;
          right: 0.5rem;
          z-index: 1;
          pointer-events: none;
          background-color: $white;
  
          @media (min-width: $tablet-plus) {
            top: 1.4rem;
            right: 1rem;
          }
        }
        
        &.facet-item--expanded {
          background-color: $ice-blue;
          
          &::before {
            transform: scaleY(-1);
            background-color: $ice-blue;
          }
        }
        
        > .facets-checkbox {
          position: absolute;
          width: rem(22);
          height: rem(22);
          top: 1.1rem;
          right: 0.5rem;
          z-index: 0;
          cursor: pointer;
  
          @media (min-width: $tablet-plus) {
            top: 1.4rem;
            right: 1rem;
          }
        }
        
        > label {
          font-family: $font-header;
          font-size: rem(18);
          color: $teal;
          cursor: pointer;
  
          @media (min-width: $tablet-plus) {
            font-size: rem(22);
          }
        }
      }
      
      /* Second level checkbox facet styles. */
      .facet-item li.facet-item {
        display: flex;
        align-items: flex-start;
        margin-left: 1rem;
        padding: 0.5rem 0;
        
        label {
          padding-left: 0.5rem;
          line-height: 1.3;
          font-family: $font-header;
          font-size: rem(18);
  
          @media (min-width: $tablet-plus) {
            font-size: rem(20);
          }
        }
        
        .facets-checkbox {
          position: relative;
          top: 0.4rem;
  
          @media (min-width: $tablet-plus) {
            top: 0.5rem;
          }
        }
      }
  
      /* Lower level checkbox facet styles. */
      .facet-item li.facet-item ul {
        display: none;
      }
    }
  }
}


/* Grants list styles. */
.view-id-grants_search.view-display-id-page_1 {
  .view-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(22);
    padding-bottom: rem(2);
    border-bottom: 1px solid $gray-border;
    
    * {
      font-family: $font-header;
      font-size: rem(14);
      color: $brownish-grey;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
  
      @media (min-width: $tablet-plus) {
        font-size: rem(15);
      }
    }
    
    .reset-search a {
      &::before {
        content: url('../img/reset_search_icon.svg');
        position: relative;
        top: 0.15rem;
        padding-right: 0.3rem;
      }
      
      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }
  
  .views-row {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $gray-border;
    
    .views-field-field-grantee {
      margin-bottom: 0.3rem;
  
      @media (min-width: $tablet-plus) {
        margin-bottom: 0.5rem;
      }
      
      * {
        font-family: $font-header;
        font-size: rem(26);
        font-weight: 500;
        line-height: 1.3;
        
        @media (min-width: $tablet-plus) {
          font-size: rem(33);
        }
      }
    }
    
    .field--name-field-amount,
    .field--name-field-duration {
      display: inline-block;
      font-family: $font-header;
      font-size: rem(19);
      text-transform: uppercase;
      font-weight: 500;
      
      @media (min-width: $tablet-plus) {
        font-size: rem(23);
      }
      
      .field__label,
      .field__item {
        float: none;
        display: inline-block;
        padding-right: 0;
        font-weight: 500;
        
        &::after {
          content: '';
        }
      }
    }
    
    .field--name-field-duration {
      padding-right: 1rem;
    }
    
    .field--name-field-date-awarded {
      display: inline-block;
      font-family: $font-header;
      font-size: rem(15);
      text-transform: uppercase;
      font-weight: 500;
      
      .field__label,
      .field__item {
        float: none;
        display: inline-block;
        padding-right: 0;
        font-weight: 500;
      }
    }
    
    .field--name-field-body {
      margin-top: 0.25em;
      margin-bottom: 0.5em;
      
      @media (min-width: $tablet-plus) {
        font-size: rem(18);
      }
    }
    
    .field--name-field-related-programs {
      a {
        font-size: rem(16);
        color: $sage-dark;
      }
    }
    
    .field--name-field-givingdata-program-goal {
      font-style: italic;
    }
  }
}
