/**
 * @file
 * Grants Listing Block views styles.
 */

/* Grants block. */
.block-views-blocklisting-page-grants-block-1,
.block-views-blocklisting-page-grants-block-2 {
  /* See: /sass/styles/_layout.scss */
  @extend .content__contained--inset;
  padding-top: 0;
  padding-bottom: rem(16);
  background-color: $white;
  
  @media (min-width: $desktop) {
    padding-bottom: rem(32);
  }
  
  > .outer-wrapper > .inner-wrapper {
    max-width: 80ch;
    margin: 0 auto;
    padding-top: 1rem;
    border-top: 1px solid $gray-border;
    
    
    @media (min-width: $desktop) {
      padding-top: 2rem;
      max-width: rem(767);
      //margin: 0 rem(176);
    }
  }
  
  .block-title {
    margin-bottom: 0.75em;
    text-transform: uppercase;
    color: $sage-dark;
    
    @media (min-width: $desktop) {
      font-size: rem(27);
    }
  }
}

.block-views-blocklisting-page-grants-block-2 {
  padding-bottom: rem(1);
}


.view-id-listing_page_grants.view-display-id-block_1,
.view-id-listing_page_grants.view-display-id-block_2 {
  .views-row {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $gray-border;
    
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
    
    .field--name-field-amount,
    .field--name-field-duration {
      display: inline-block;
      font-family: $font-header;
      font-size: rem(19);
      text-transform: uppercase;
      font-weight: 500;
  
      @media (min-width: $desktop) {
        font-size: rem(23);
      }
      
      .field__label,
      .field__item {
        float: none;
        display: inline-block;
        padding-right: 0;
        font-weight: 500;
        
        &::after {
          content: '';
        }
      }
    }
    
    .field--name-field-duration {
      padding-right: 1rem;
    }
    
    .field--name-field-date-awarded {
      display: inline-block;
      font-family: $font-header;
      font-size: rem(15);
      text-transform: uppercase;
      font-weight: 500;
  
      .field__label,
      .field__item {
        float: none;
        display: inline-block;
        padding-right: 0;
        font-weight: 500;
      }
    }
    
    .field--name-field-body {
      margin-top: 0.25em;
      margin-bottom: 0.5em;
      
      @media (min-width: $desktop) {
        font-size: rem(18);
      }
    }
    
    .field--name-field-related-programs {
      a {
        font-size: rem(16);
        color: $sage-dark;
      }
    }
    
    .field--name-field-givingdata-program-goal {
      font-style: italic;
    }
  }
}

.view-id-listing_page_grants.view-display-id-block_2 {
  .view-header {
    margin-bottom: 1.5rem;
    
    .list-toggle {
      &::after {
        content: url('../img/minus.svg');
        position: relative;
        top: rem(-6);
        padding-left: 0.5rem;
      }
  
      &.closed::after {
        content: url('../img/plus.svg');
        top: 0;
      }
    }
  }
  
  &.closed {
    .view-content {
      display: none;
    }
  }
}
