/**
 * @file
 * Timeline views styles.
 */

.block-views-blocklisting-page-timeline-block-1 {
  /* See: /sass/styles/_layout.scss */
  @extend .content__contained--inset;
  margin-top: -1rem;
  padding-top: 0;
  background-color: $white;
  
  @media (min-width: $tablet-plus) {
    margin-top: -3rem;
  }
  
  .view-header {
    margin-bottom: 1.5rem;
  }
  
  .views-exposed-form {
    margin-bottom: 2rem;
    
    @media (min-width: $tablet-plus) {
      margin-bottom: 4rem;
    }
    
    .form--inline {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }
    
    label {
      display: block;
      margin-bottom: 0.3em;
      font-size: rem(17);
      font-family: $font-header;
      font-weight: 500;
      text-transform: uppercase;
    }
    
    .form-type-select{
      width: 100%;
      max-width: rem(372);
      margin-top: 0;
      
      @media (min-width: $tablet-plus) {
        margin-right: rem(24);
      }
    }
    
    .form-item-field-staff-department-target-id {
      margin-right: rem(40);
    }
  }
  
  .grouping-header {
    margin-bottom: rem(32);
    
    @media (min-width: $tablet-plus) {
      display: flex;
      margin-bottom: rem(72);
    }
    
    .grouping-title {
      margin-bottom: 0;
      padding: rem(32);
      color: $white;
      text-transform: none;
      background-color: $cobalt-dark;
  
      a {
        color: $white;
      }
  
      @media (min-width: $tablet-plus) {
        padding: rem(54);
      }
  
      @media (min-width: $desktop) {
        min-width: rem(386);
      }
    }
    
    .grouping-teaser {
      position: relative;
      padding: rem(32);
      background-color: $cobalt;
  
      @media (min-width: $tablet-plus) {
        padding: rem(54);
      }
  
      * {
        color: $white;
        
        &:last-child {
          margin-bottom: 0;
        }
      }
  
      @media (min-width: $tablet-plus) {
        &::before {
          content: '';
          position: absolute;
          top: rem(54);
          left: 0;
          width: 0;
          height: 0;
          border-top: rem(20) solid transparent;
          border-bottom: rem(20) solid transparent;
          border-left: rem(20) solid $cobalt-dark;
        }
      }
    }
  }
  
  .view-content {
    .views-row {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $gray-border;
  
      @media (min-width: $tablet-plus) {
        margin-bottom: 3rem;
        padding-bottom: 3rem;
      }
      
      > .views-field-rendered-entity > .field-content {
        @media (min-width: $tablet-plus) {
          display: flex;
        }
      }
    }
    
    .text-wrapper {
      @media (min-width: $desktop) {
        min-width: 50%;
      }
    }
    
    .field--name-field-timeline-date {
      font-family: $font-header;
      text-transform: uppercase;
      
      @media (min-width: $tablet-plus) {
        flex-shrink: 0;
        width: rem(116);
      }
    }
    
    .field--name-field-focus {
      margin-bottom: 0.5rem;
      
      .field__item {
        display: inline;
        
        &::after {
          content: (', ');
        }
        
        &:last-child::after {
          content: ('');
        }
      }
    }
    
    .field--name-node-title {
      * {
        margin-bottom: 0.5em;
        text-transform: none;
        
        @media (min-width: $tablet-plus) {
          font-size: rem(33);
        }
      }
    }
    
    .field--name-field-teaser-text {
      //
    }
    
    .field--name-field-featured-image {
      @media (min-width: $tablet-plus) {
        flex-shrink: 0;
        margin-left: rem(52);
      }
    }
  }
}
