// Base HTML Styles

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -ms-box-sizing: border-box;
}

html {
  min-height: 100%;
  font-family: $font-main;
  font-size: 100% * ($base-font-size / 16);
  line-height: $base-line-height;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

:focus {
  outline: 1px dotted $teal;
}

img,
picture,
object,
figure,
input,
svg {
  max-width: 100%;
  height: auto;
}

body {
  color: $text-color;
  background: $gray-bg;
}

main {
  padding-top: 0;
  padding-bottom: rem(20);
  
  @media (min-width: $desktop) {
    padding-bottom: rem(78);
  }
}

hr {
  height: rem(1);
  margin: 1.5rem 0 2rem;
  border: none;
  background-color: $gray-border;
}

figure {
  display: table;
  margin: 0 0 1.5rem;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  margin-top: rem(12);
  font-size: rem(16);
  font-family: $font-header;
  font-weight: 300;
  line-height: 1.5;
  
  > div * {
    font-size: rem(16);
    font-family: $font-header;
    font-weight: 300;
    line-height: 1.5;
  }
  
  > div > *:last-child {
    margin-bottom: 0;
  }
}

.field--name-field-caption,
.field--name-field-featured-image-caption,
.field--name-field-image-credit {
  * {
    font-size: rem(16);
    font-family: $font-header;
    font-weight: 300;
    line-height: 1.5;
  }
}

.bg-white {
  background-color: $white;
}

.bg-teal {
  background-color: $teal;
}

.bg-berry {
  background-color: $berry;
}

.bg-dark-sage {
  background-color: $sage-dark;
}

.bg-teal,
.bg-berry,
.bg-dark-sage {
  color: $white;
  
  * {
    color: $white;
  }
}
