{% extends "field.html.twig" %}

{# Change nested divs to unordered list. #}
{% block label_hidden_list %}
  <ul{{ attributes.addClass(classes, 'field__items') }}>
    {% for item in items %}
      <li{{ item.attributes.addClass('field__item') }}>{{ item.content }}</li>
    {% endfor %}
  </ul>
{% endblock %}
