main {
  @media (min-width: $desktop) {
    /* Add fake padding at top of #main to allow content to overlap "header". */
    border-top: rem(32) solid $white;
  }
}

.region-content {
  ul {
    padding-left: 0.8em;
    list-style-type: "•  ";
    
    ul {
      padding-left: 1.6em;
      list-style-type: "-  ";
    }
  }
  
  ol {
    padding-left: 2em;
  }
  
  li {
    margin-bottom: 0.75em;
  }
}
