// Footer
footer {
  margin-top: 1.5rem;
  padding-top: 0;
  padding-bottom: $lu*2;
  background-color: $teal;
  
  @media (min-width: $tablet-plus) {
    position: relative;
    padding-top: $lu*2;
    
    &::before {
      position: absolute;
      content: '';
      background: url(../img/tree-watermark.svg) no-repeat left/auto;
      right: 0;
      top: 0;
      height: 100%;
      width: 50%;
      display: block;
    }
    
    * {
      color: $white;
    }
    
    .block {
      margin: $lu 0;
      
      @media (min-width: $tablet-plus) {
        width: 60%;
      }
    }
  }
  
  .footer-container {
    position: relative;
  }
  
  #block-footerlogo {
    margin-top: 0;
  }
  
  #block-subscribetoournewsletter-2 {
    position: relative;
    top: -1.5rem;
    margin: 0 #{-$page-margin};
    padding: $lu $page-margin;
    background-color: #006a6e;
    
    @media (min-width: $tablet-plus) {
      width: 37%;
      position: absolute;
      right: 0;
      top: -$lu*3.25;
      margin: 0;
      padding: rem(32) rem(60) rem(44);
    }
    
    h3 {
      margin-top: 0;
      font-weight: normal;
      font-family: $font-main;
      font-size: rem(24);
      color: $white;
  
      @media (min-width: $tablet-plus) {
        font-size: rem(26);
      }
    }
    
    form {
      
      label {
        color: $white;
      }
      
      .mc-field-group {
        margin-bottom: 1.25rem;
      }
      
      label[for="mce-EMAIL"] {
        display: block;
        margin-bottom: rem(2);
        font-family: $font-header;
        font-size: rem(17);
        text-transform: uppercase;
        font-weight: 500;
      }
      
      input.email {
        width: 100%;
        padding: rem(8);
        font-size: rem(17);
        color: $black;
      }
      
      .input-group {
        > strong {
          font-family: $font-header;
          font-size: rem(17);
          text-transform: uppercase;
          font-weight: 500;
          color: $white;
        }
        
        ul {
          list-style: none;
          margin: rem(2) 0 0;
          padding-left: 0;
          
          label {
            padding-left: rem(4);
            font-size: rem(16);
          }
        }
      }
    }
    
    .button {
      @extend .button.reverse.teal;
    }
  }
  
  #block-connectwithusfooter,
  #block-careerscontactfooter {
    position: relative;
    margin-top: 1rem;
    
    @media (min-width: $tablet-plus) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 3rem;
    }
    
    h2, a {
      font-size: rem(19);
      color: $white;
      font-weight: 400;
      text-transform: uppercase;
      font-family: $font-header;
      line-height: 1.8;
    }
    
    h2 {
      margin-bottom: $lu/4;
      
      @media (min-width: $tablet-plus) {
        margin-bottom: 0;
        margin-right: 1rem;
      }
    }
    
    ul.menu {
      width: rem(200);
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
  
      @media (min-width: $tablet-plus) {
        width: auto;
      }
      
      li {
        &:first-child a {
          @media (max-width: $tablet-plus) {
            margin-left: 0;
          }
        }
      }
    }
    
    a {
      margin-left: 1rem;
      margin-bottom: 0.5rem;
      text-decoration: underline;
  
      @media (min-width: $tablet-plus) {
        margin-left: 3rem;
        margin-bottom: 0;
      }
  
      @media (max-width: $desktop-narrow-max) {
        display: none;
      }
      
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    
    .social {
      height: rem(22);
      width: rem(30);
      margin-left: 1rem;
      background: url(../img/twitter-white.svg) no-repeat center/contain;
      font-size: 0;
      display: inline-block;
      line-height: $lu;
  
      @media (min-width: $tablet-plus) {
        height: rem(20);
        width: rem(27);
      }
  
      @media (max-width: $desktop-narrow-max) {
        display: block;
      }
    }
    
    .facebook {
      background-image: url(../img/facebook-white.svg)
    }
    
    .twitter {
      background-image: url(../img/twitter-white.svg)
    }
    
    .linkedin {
      background-image: url(../img/linkedin-white.svg)
    }
    
    .youtube {
      background-image: url(../img/youtube-white.svg)
    }
  }
  
  #block-connectwithusfooter {
    @media (max-width: $desktop-narrow-max) {
      margin-bottom: 1rem;
    }
    
    ul.menu {
      margin-left: -0.5rem;
  
      @media (min-width: $tablet-plus) {
        margin-left: 0;
      }
    }
  }
  
  #block-careerscontactfooter {
    @media (max-width: $desktop-narrow-max) {
      margin-top: 0;
    }
  
    @media (min-width: $desktop-narrow) {
      display: none;
    }
    
    ul.menu {
      display: block;
      
      @media (min-width: $tablet) {
        display: flex;
      }
      
      a {
        display: block;
        margin-bottom: 1rem;
        margin-left: 0;
  
        @media (min-width: $tablet) {
          margin-left: 1rem;
        }
  
        @media (min-width: $tablet-plus) {
          margin-left: 0;
          margin-right: 3rem;
          margin-bottom: 0;
        }
      }
    }
  }
  
  #block-footercopyrightandterms-2 {
    margin-top: $lu;
    padding-top: $lu;
    font-size: rem(16);
    border-top: 1px solid $teal-dark;
    
    * {
      color: $white;
    }
    
    .field--name-field-block-body {
      display: flex;
      flex-wrap: wrap;
    }
    
    p {
      margin-bottom: 1rem;
      margin-right: 1.25rem;
    }
    
    ul.menu {
      margin: 0;
      padding: 0;
      
      li.menu-item {
        display: inline-block;
        padding-top: 0;
      }
  
      a {
        display: inline-block;
        margin-right: 1.25rem;
        font-size: rem(16);
      }
    }
  }
  
}
