/**
 * @file
 * Header styles.
 */

header {
  position: relative;
  z-index: 99;
  padding-top: rem(60);
  padding-bottom: rem(8);
  background-color: $white;
  
  @media (min-width: $desktop-narrow) {
    padding-top: rem(32);
    padding-bottom: rem(8);
  }
  
  > .inner-wrapper {
    @media (min-width: $desktop-narrow) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.region-header {
  max-width: rem(263);
  position: relative;
  z-index: 1;
  
  @media (min-width: $desktop-narrow) {
    position: static;
  }
}

.menus-wrapper {
  @media (min-width:$tablet) {
  }
  
  @media (min-width: $desktop-narrow) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
  }
  
  @media (min-width: $desktop-plus) {
  }
}

.region-main-menu {
  width: 100%;
  margin-top: 0.4rem;
  
  @media (min-width: $desktop-narrow) {
    //
  }
}

.region-utility {
  display: none;
  position: relative;
  
  @media (min-width: $desktop-narrow) {
    display: block;
  }
  
  > .container {
    @media (min-width: $desktop-narrow) {
      display: flex;
      align-items: center;
      position: relative;
      top: rem(-10);
    }
  }
}

.region-utility.accessible-megamenu-top-nav-item {
  display: block;
  padding: 0.5rem 0.75rem 1.5rem;
  
  @media (min-width: $desktop-narrow) {
    display: none;
  }
}

.site-logo {
  display: block;
  width: rem(263);
  
  @media (min-width: $desktop-narrow) {
    width: rem(250);
  }
  
  @media (min-width: $desktop) {
    width: rem(263);
  }
}

.menu--global-nav {
  .menu {
    position: relative;
    margin: 0;
  }
  
  .menu-item {
    position: relative;
    //top: rem(2);
    margin-bottom: 0.5rem;
    padding: 0;
  
    @media (min-width: $desktop-narrow) {
      margin-bottom: 0;
    }
  
    a {
      font-size: rem(17);
      text-decoration: none;
    
      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }
}

.region-utility .block-views-exposed-filter-blocksite-search-page-1 {
  @media (min-width: $desktop-narrow) {
    margin-left: rem(18);
    padding-left: rem(18);
    border-left: 1px solid $gray-border2;
  }
  
  form {
    position: relative;
  
    @media (min-width: $desktop-narrow) {
      top: rem(-2);
    }
  }
  
  .form--inline {
    display: flex;
    align-items: flex-end;
  }
  
  .form-item,
  .form-actions {
    position: relative;
    margin: 0;
  }
  
  .form-item {
    display: flex;
  }
  
  .form-actions {
    padding: 0 0 0 rem(10);
  }
  
  label {
    @include hidetext();
    
    &:after {
      content: url('../img/magnifying_glass.svg');
      position: relative;
      top: rem(5);
    }
  }

  .form-text {
    width: 92%;
    margin-left: rem(4);
    line-height: 1.2;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $gray-border2;
  
    @media (min-width: $desktop-narrow) {
      width: 100%;
      max-width: rem(224);
      padding: rem(1) rem(2);
    }
  }
  
  &.closed {
    .form-text {
      max-width: 0;
      margin-left: 0;
      padding: 0;
    }
  }
  
  .form-submit {
    position: relative;
    top: rem(4);
    padding: 0;
    font-size: rem(15);
    color: $teal;
    text-decoration: underline;
    background-color: transparent;
    border: 0;
    
    &:hover,
    &:focus,
    &:active {
      color: $sage;
      text-decoration: none;
    }
  }
}
